{% extends "bootstrap/base.html" %}
{% import 'marco.html' as t %}

{% block scripts %}
    {#todo#}
{% endblock %}

{% block content %}
    <h3 align="center">管理员
        <small>工具集</small>
    </h3>
    <hr/>
    <div id="message" class="alert alert-warning form-group center" style="width:98%; margin-left:20px">
        {{ t.top_massage() }}
    </div>
    <div id="config" class="form-group center" style="width:98%; margin-left:20px">
        <hr>
        <a class="btn btn-primary btn-sm" href="{{ url_for('static', filename='export/help.doc') }}">下载帮助文档</a>
        <hr>
        <form action="tool_upload" method="post" enctype="multipart/form-data">
            <input type="file" class="input-large" style="height:30px;" name="file" value="选择文件"/>
            <br>
            <input type="submit" value="上传 help.doc" class="btn btn-primary btn-sm"/>
        </form>
        <hr>
        <a href="tool_clean_all_redis" class="btn btn-primary btn-sm">清除所有Redis结果</a>
        <hr>
        <a href="tool_getenv" class="btn btn-primary btn-sm">环境信息</a>
        <p>{{ json_str }}</p>
        <hr>
        <form action="tool_session_setting" method="post">
            <input type="submit" value="导入到session" class="btn btn-primary btn-sm"/>
            <input type="text" name="start_url" size="50" placeholder="主页"/>&nbsp;&nbsp;&nbsp;
            <input type="text" name="site_domain" size="50" placeholder="限定域名"/>&nbsp;&nbsp;&nbsp;
        </form>
        <hr>
        <form action="tool_redis_setting" method="post">
            <input type="submit" value="设定redis" class="btn btn-primary btn-sm"/>
            <input type="text" name="redis_server" size="50" placeholder="结果保存库(例如：127.0.0.1/14)"/>&nbsp;&nbsp;&nbsp;
            <input type="text" name="dedup_server" size="50" placeholder="去重库(例如：127.0.0.1/14)"/>&nbsp;&nbsp;&nbsp;
        </form>
        <hr>
        <form action="tool_spider_run_mode_setting" method="post">
            <input type="submit" value="后台爬虫运行模式" class="btn btn-primary btn-sm"/>
            <input name="spider_run_mode" type="radio" class="radio-inline" value="debug">debug
            <input name="spider_run_mode" type="radio" class="radio-inline" value="redis">redis
        </form>
        <hr>
    </div>
{% endblock %}