{% extends "bootstrap/base.html" %}
{% block scripts %}
    {#todo#}
{% endblock %}

{% block content %}
    <h3 align="center">管理员
        <small>工具集</small>
    </h3>
    <hr/>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:50px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div id="config" class="form-group center" style="100%; margin-left:50px">
        <hr>
        <a class="btn btn-primary btn-sm" href="{{ url_for('static', filename='export/help.doc') }}">下载帮助文档</a>
        <hr>
        <form action="tool_upload" method="post" enctype="multipart/form-data">
            <input type="file" class="input-large" style="height:30px;" name="file" value="选择文件"/>
            <br>
            <input type="submit" value="上传 help.doc" class="btn btn-primary btn-sm"/>
        </form>
        <hr>
        <a href="tool_reset_redis" class="btn btn-primary btn-sm">清除所有Redis结果</a>
        <hr>
        <a href="tool_getenv" class="btn btn-primary btn-sm">环境信息</a>
        <p>{{ json_str }}</p>
        <hr>
        <form action="tool_session_setting" method="post">
            <input type="submit" value="导入到session" class="btn btn-primary btn-sm"/>
            <input type="text" name="start_url" size="50" placeholder="主页"/>&nbsp;&nbsp;&nbsp;
            <input type="text" name="site_domain" size="50" placeholder="限定域名"/>&nbsp;&nbsp;&nbsp;
        </form>
        <hr>
        <form action="tool_redis_setting" method="post">
            <input type="submit" value="设定redis" class="btn btn-primary btn-sm"/>
            <input type="text" name="redis_server" size="50" placeholder="结果保存库(例如：127.0.0.1/14)"/>&nbsp;&nbsp;&nbsp;
            <input type="text" name="dedup_server" size="50" placeholder="去重库(例如：127.0.0.1/14)"/>&nbsp;&nbsp;&nbsp;
        </form>
        <hr>
    </div>
{% endblock %}