{% extends "bootstrap/base.html" %}
{% block title %} 全站爬虫v0.01 {% endblock %}
{% block navbar %}
    <nav class="navbar nav-pills" role="navigation">
        <div id="menu">
            <ul class="nav nav-tabs nav-justified nav-pills">
                <li><a href="setting_advice_init" target="mainframe" data-toggle="tooltip"
                       title="主页URL归类 正则表达式/关键字">①列表/详情-自动
                </a>
                </li>
                <li>
                    <a href="list_detail_init" target="mainframe" data-toggle="tooltip"
                       title="主页、域名、详情页/列表页URL的特征词/正则表达式"> ①列表/详情-手工
                    </a>
                </li>
                <li>
                    <a href="show_result_init" target="mainframe" data-toggle="tooltip"
                       title="抓取结果 列表/详情"> ①列表/详情-结果
                    </a>
                </li>
                <li>
                    <a href="show_unkown_urls" target="mainframe" data-toggle="tooltip"
                       title="未匹配的URL信息"> ①列表/详情-未匹配
                    </a>
                </li>
                <li>
                    <a href="show_process" target="mainframe" data-toggle="tooltip"
                       title="抓取情况展示"> ②过程监测
                    </a>
                </li>
                <li>
                    <a href="content_init" target="mainframe" data-toggle="tooltip"
                       title="内容提取 标题、创建时间、内容、作者"> ③内容提取
                    </a>
                </li>
                <li>
                    <a href="history_search" target="mainframe" data-toggle="tooltip"
                       title="配置信息-历史记录"> ④历史查询
                    </a>
                </li>
                <li id="admin_preset" class="disabled">
                    <a href="preset_init" target="mainframe" data-toggle="tooltip"
                       title="无效，列表，详情"> ⑤预置规则
                    </a>
                </li>
                <li id="admin_tools" class="disabled">
                    <a href="admin_tools" target="mainframe" data-toggle="tooltip"
                       title="管理员 工具集"> ⑥管理工具
                    </a>
                </li>
                <li id="admin_server_log" class="disabled">
                    <a href="admin_server_log" target="mainframe" data-toggle="tooltip"
                       title="web server log"> ⑥后台log
                    </a>
                </li>
                <li id="test" class="disabled">
                    <a href="test" target="mainframe" data-toggle="tooltip"
                       title="test"> test
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="main" style="height:1000px;width:1280px;float:left;">
        <iframe name="mainframe" style="height:1280px;width:1360px" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $("li").click(function () {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        });

        $(document).ready(function () {
            {% if user_id == 'admin' %}
                $('#admin_preset').show();
                $('#admin_tools').show();
                $('#admin_server_log').show();
            {% else %}
                $('#admin_preset').hide();
                $('#admin_tools').hide();
                $('#admin_server_log').hide();
            {% endif %}
        });
    </script>
{% endblock %}
