{% extends "bootstrap/base.html" %}
{% block title %} 全站爬虫v0.01 {% endblock %}
{% block navbar %}
    <div id="menu" style="height:100%;width:6.06%;float:left;" class="navbar navbar-inverse navbar-fixed-top">
        <nav class="navbar nav-pills" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="setting_advice_init" target="mainframe" data-toggle="tooltip"
                       title="主页URL归类 正则表达式/关键字">①列表/详情 ---自动推荐
                </a>
                </li>
                <li>
                    <a href="list_detail_init" target="mainframe" data-toggle="tooltip"
                       title="主页、域名、详情页/列表页URL的特征词/正则表达式"> ①列表/详情 ---手工配置规则
                    </a>
                </li>
                <li>
                    <a href="show_result_init" target="mainframe" data-toggle="tooltip"
                       title="抓取结果 列表/详情"> ①列表/详情 ---匹配结果
                    </a>
                </li>
                <li>
                    <a href="show_unkown_urls" target="mainframe" data-toggle="tooltip"
                       title="未匹配的URL信息"> ①列表/详情 ---未匹配
                    </a>
                </li>
                <li>
                    <a href="show_process" target="mainframe" data-toggle="tooltip"
                       title="抓取情况展示"> ②过程监测
                    </a>
                </li>
                <li>
                    <a href="content_init" target="mainframe" data-toggle="tooltip"
                       title="内容提取 标题、创建时间、内容、作者"> ③内容提取
                    </a>
                </li>
                <li>
                    <a href="history_search" target="mainframe" data-toggle="tooltip"
                       title="配置信息-历史记录"> ④历史查询
                    </a>
                </li>
                <li id="show_task">
                    <a href="show_task" target="mainframe" data-toggle="tooltip"
                       title="web server log"> ④任务管理
                    </a>
                </li>
                <li id="admin_preset">
                    <a href="preset_init" target="mainframe" data-toggle="tooltip"
                       title="无效，列表，详情"> ⑤预置规则
                    </a>
                </li>
                <li id="admin_tools">
                    <a href="admin_tools" target="mainframe" data-toggle="tooltip"
                       title="管理员 工具集"> ⑥管理工具
                    </a>
                </li>
                <li id="admin_server_log">
                    <a href="admin_server_log" target="mainframe" data-toggle="tooltip"
                       title="web server log"> ⑥后台log
                    </a>
                </li>
                {#                <li id="test" class="disabled">#}
                {#                    <a href="test" target="mainframe" data-toggle="tooltip"#}
                {#                       title="test"> test#}
                {#                    </a>#}
                {#                </li>#}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div id="main" style="height:100%;width:94%;float:right;" class="inverse">
{#        <iframe name="mainframe" style="height:1080px;width:1680px" frameborder="0" scrolling="no"></iframe>#}
        <iframe name="mainframe" style="height:900px;width:1300px" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $("li").click(function () {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");

        });

        $(document).ready(function () {
            {% if user_id == 'admin' %}
                $('#admin_preset').show();
                $('#admin_tools').show();
                $('#admin_server_log').show();
            {% else %}
                $('#admin_preset').hide();
                $('#admin_tools').hide();
                $('#admin_server_log').hide();
            {% endif %}
        });
    </script>
{% endblock %}

{% macro top_massage() -%}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for color, message in messages %}
                    <li style="color: {{ color }}">{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{%- endmacro %}
