{% extends "bootstrap/base.html" %}
{% block content %}
    <h3 align="center">设定抓取信息
        <small>主页、域名、详情页/列表页URL的特征词/正则表达式</small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form id="setting" method="POST" action="/list_detail_save_and_run">
        <hr>
        <div id="config" class="form-group center" style="width:100%; margin-left:20px">
            {{ inputForm.start_url.label }}&nbsp;
            {{ inputForm.start_url(id="start_url",size=30,placeholder="例如：http://www.baidu.com") }}&nbsp;
            {{ inputForm.site_domain.label }}&nbsp;
            {{ inputForm.site_domain(id="site_domain",size=20,placeholder="例如：baidu.com") }}&nbsp;
            {{ inputForm.black_domain_str.label }}&nbsp;
            {{ inputForm.black_domain_str(size=40,placeholder="域名1;域名2;域名3; 的形式以；分割") }}&nbsp;&nbsp;&nbsp;
            {{ inputForm.mode() }}&nbsp;{{ inputForm.mode.label(for="mode",style="color:blue") }}&nbsp;&nbsp;&nbsp;
            {{ inputForm.hold() }}&nbsp;{{ inputForm.hold.label(for="hold") }}&nbsp;&nbsp;&nbsp;
            {{ inputForm.scope_sel(id="scope_sel") }}&nbsp;
        </div>
        <hr>
        <div id="convert-ajax" class="form-group" style="width:100%; margin-left:20px">
            <input id="convert_url" type=text size=120
                   placeholder="[例]http://cpt.xtu.edu.cn/a/gao/2013/1125/225.html >>> /[a-zA-Z]{1}/[a-zA-Z]{3}/\d{4}/\d{4}/\d{3}.html">&nbsp;
            <input id="convert_btn" type="button" class="btn btn-primary btn-sm" value="转换为正则">&nbsp;
            <label id="convert_result"></label>
        </div>
        <hr>
        <div id="list-regex" class="form-group" style="float:left;width:48%; margin-left:10px">
            <table id="list_regex_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>列表页-正则表达式</th>
                    <th>权重</th>
                    <th>匹配次数</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.list_regex_list %}
                    <tr id= {{ "list_" ~ loop.index }}>
                        <td>{{ row.regex(size=60,placeholder="反向逻辑请使用：/^xxxxxx/") }}</td>
                        <td>{{ row.weight() }}</td>
                        <td>{{ row.score(size=6,readonly="readonly") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            {# {{ inputForm.save_run_list(class="btn btn-info") }}#}
            {#<a id="save_run_list" name="save_run_list" type="submit" href="list_detail_save_and_run"#}
            {#  data-toggle="modal" data-target="#myModal" class="btn btn-info">保存-执行(列表页)</a>#}
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label class="modal-title" id="myModalLabel">
                                保留结果被重置后,页面将自动刷新，请等待。
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="detail-regex" class="form-group" style="float:right;width:48%; margin-left:10px">
            <table id="detail_regex_tab" class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>详情页-正则表达式</th>
                    <th>权重</th>
                    <th>匹配数</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.detail_regex_list %}
                    <tr id= {{ "detail_" ~ loop.index }}>
                        <td>{{ row.regex(size=60,placeholder="反向逻辑请使用：/^xxxxxx/") }}</td>
                        <td>{{ row.weight() }}</td>
                        <td>{{ row.score(size=6,readonly="readonly") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            {{ inputForm.list_or_detail(style="float:left") }}
            <button id="save_run_list" name="save_run_list" type="submit" href="#" style="float:right"
                    data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-default">保存-执行
            </button>
            {#            {{ inputForm.save_run_detail(class="btn btn-info") }}#}
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables Javascript-->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        <!-- 转化工具 -->
        $('#convert_btn').click(function () {
            $.ajax({
                url: $SCRIPT_ROOT + '/convert',
                contentType: "application/json; charset=UTF-8",
                dataType: 'json',
                data: {
                    convert_url: $('#convert_url').val(),
                    now: new Date().getTime()
                },
                error: function (xhr, err) {
                    $('#convert_result').text(err);
                },
                success: function (data, textStatus) {
                    $('#convert_result').text(data.regex);
                }
            });
        });
        <!-- start_url 去掉 '/' -->
        $("#start_url").change(function () {
            var start_url = $('#start_url').val();
            var without_slash = '';
            patrn = /\/$/;
            if (patrn.exec(start_url)) {
                without_slash = start_url.substr(0, start_url.length - 1);
            } else {
                without_slash = start_url
            }
            $('#start_url').val(without_slash);
        });
        <!-- 选择分类-->
        $('#scope_sel').change(function () {
            var scope_sel = $(this).children('option:selected').val();
            window.location.href = "/list_detail_init_preset?scope=" + scope_sel;
        });
        $(document).ready(function () {
            $('#list_regex_tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='/static/images/loading.gif'/>",
                    "sSearch": "正则表达式检索："
                },
                "oSearch": {"sSearch": "", "bRegex": true, "bSmart": true},
                "info": false,
                "paging": false,
                "searching": false,
                "processing": true,
                "search": {"regex": true},//开启正则支持
                {#"bStateSave": true, //状态保存,与正则检索矛盾#}
                "bFilter": false,
                "bLengthChange": false,
                "aLengthMenu": [30],
                "scrollY": "500px",
                "bScrollCollapse": true,
                "aaSorting": [[0, "desc"]]
            });
            $('#detail_regex_tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='/static/images/loading.gif'/>",
                    "sSearch": "正则表达式检索："
                },
                "oSearch": {"sSearch": "", "bRegex": true, "bSmart": true},
                "info": false,
                "paging": false,
                "searching": false,
                "processing": true,
                {#                "search": {"regex": true},//开启正则支持#}
                {#"bStateSave": true, //状态保存,与正则检索矛盾#}
                "bFilter": false,
                "bLengthChange": false,
                "aLengthMenu": [30],
                "scrollY": "500px",
                "bScrollCollapse": true,
                "aaSorting": [[0, "desc"]]
            });
        });
    </script>
{% endblock %}

