{% extends "bootstrap/base.html" %}
{% block content %}
    <h3 align="center">抓取情况
        <small>
            &nbsp;&nbsp;&nbsp;
            <a href="save_finally_result" class="btn btn-primary btn-sm"
               data-toggle="tooltip" title="最终列表页结果" data-placement="bottom">保存最终结果</a>
            &nbsp;&nbsp;&nbsp;
            <a href="kill_spider" class="btn btn-primary btn-sm"
               data-toggle="tooltip" title="用来结束后台爬虫程序" data-placement="bottom">强制终止爬虫</a>
            &nbsp;&nbsp;&nbsp;
            <a href="reset_all" class="btn btn-primary btn-sm"
               data-toggle="tooltip" title="清除所有计算用的中间数据" data-placement="bottom">清除中间数据</a>
        </small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:50px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <hr>
    <div id="process_list_div" style="float:left;width:50%;height:300px;min-width:500px"></div><br> <div id="process_detail_div" style="float:right;width:50%;height:300px;min-width:500px"></div><br>
    <hr><hr><hr>
    <br>
    <div id="list_by_total_div" style="float:left;width:50%;height:300px"></div> <div id="velocity_div" style="float:right;width:50%;height:300px"></div>
    <hr><hr><hr>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script type="text/javascript">
        setTimeout('window.location.reload()', 30 * 1000);
        $(function () {
            $('#process_list_div').highcharts({
                title: {
                    text: '列表页',
                    x: -20 //center
                },
                subtitle: {
                    text: '单位:30秒',
                    x: -20
                },
                xAxis: {
                    categories: {{ times }}
                },
                yAxis: {
                    title: {
                        text: '页数'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#00ff00'
                    }]
                },
                tooltip: {
                    valueSuffix: '页'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 1
                },
                series: [{
                    name: '总数',
                    data: {{ list_cnt_list }}
                }, {
                    name: '完成',
                    data:{{ list_done_cnt_list }}
                }]
            });
            $('#process_detail_div').highcharts({
                title: {
                    text: '详情页',
                    x: -20 //center
                },
                subtitle: {
                    text: '单位:30秒',
                    x: -20
                },
                xAxis: {
                    categories: {{ times }}
                },
                yAxis: {
                    title: {
                        text: '页数'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#00ff00'
                    }]
                },
                tooltip: {
                    valueSuffix: '页'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 1
                },
                series: [{
                    name: '总数',
                    data:{{ detail_cnt_list }}
                }, {
                    name: '完成',
                    data:{{ detail_done_cnt_list }}
                }]
            });
            $('#list_by_total_div').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '当前抓取到  页中的比例'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: '抓取比例',
                    data: [
                        ['列表', {{ list_cnt_now}}],
                        ['未匹配', {{ unkown_cnt_now }}],
                        ['详情', {{ detail_cnt_now }}]
                    ]
                }]
            });
            $('#velocity_div').highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: '处理速度(列表+详情+未匹配/抓取时间)'
                },
                subtitle: {
                    text: 'K-Pages/Min'
                },
                xAxis: {
                    labels: {
                        formatter: function () {
                            return this.value; // clean, unformatted number for year
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: '页数'
                    },
                    labels: {
                        formatter: function () {
                            return this.value / 1000 + 'k';
                        }
                    }
                },
                tooltip: {
                    pointFormat: '的{series.name} 为{point.y:.0f}'
                },
                plotOptions: {
                    area: {
                        pointStart: 0,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '瞬时速度',
                    data: {{ velocity_list }}
                }]
            });
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
{% endblock %}