{% extends 'base_backend.html' %}
{% load static %}

{% block header_tail %}
    <style>
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
{% endblock header_tail %}

{% block section_content %}
    {% verbatim %}
        <!-- Main content -->
        <div id="section" class="inverse">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-success" style="margin-left:40px;margin-top:10px;width:95%;">
                        <div class="box-header with-border" style="border-color: #1b6d85">
                            <div class="form-group">
                                <input class="pull-left col-md-5" style="height:34px;" value="[[ searchUrl ]]"
                                       v-model="searchUrl" placeholder="请输入URL">
                                <button v-on:click="search" v-bind:disabled="isSearchBtnDisabled"
                                        class="pull-left btn btn-success" style="margin-left: 20px;">检索
                                </button>
                                <button id="addInfoBtn" data-target="#infoModal"
                                        data-toggle="modal"
                                        class="pull-right btn btn-sm btn-success">添加频道信息
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table id="comments_tab" class="table table-striped table-hover table-condensed"
                                   style="table-layout:fixed">
                                <thead>
                                <tr>
                                    <th style="width:20%">
                                        频道URL <span class="badge">共 [[ searchCnt ]] 条</span>
                                    </th>
                                    <th style="width:5%">频道名称</th>
                                    <th style="width:10%">域名</th>
                                    <th style="width:5%">网站名称</th>
                                    <th style="width:5%">配置ID</th>
                                    <th style="width:5%">频道编码</th>
                                    <th style="width:5%">详情编码</th>
                                    <th style="width:5%">info_flag</th>
                                    <th style="width:5%">时间间隔</th>
                                    <th style="width:5%">运行状态</th>
                                    <th style="width:5%">路由地址</th>
                                    <th style="width:25%"> 操 作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="tr_[[ $index ]]"
                                    v-for="info in result"
                                    v-on:mouseover="showOpt($index)"
                                    v-on:mouseleave="hideOpt($index)">
                                    <td title="[[ info.url ]]" class="td-fixed">
                                        <a href="[[ info.url ]]" target="_blank">[[ info.url ]]</a>
                                    </td>
                                    <td>[[ info.channel ]]</td>
                                    <td class="td-fixed">
                                        [[ info.domain ]]
                                    </td>
                                    <td class="td-fixed">
                                        [[ info.siteName ]]
                                    </td>
                                    <td>[[ info.config_id ]]</td>
                                    <td>[[ info.channel_encoding ]]</td>
                                    <td>[[ info.detail_encoding ]]</td>
                                    <td>[[ info.info_flag ]]</td>
                                    <td>[[ info.interval ]]</td>
                                    <td>[[ info.status ]]</td>
                                    <td>[[ info.router ]]</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- paginator -->
                        <paginator v-show="isPaginatorShow" v-bind:current.sync="page" v-bind:total.sync="totalPages">
                        </paginator>
                        <!-- paginator end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Main end. -->

        <!-- info modal-dialog -->
        <div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width: 1000px">
                <div class="modal-content">
                    <div class="box box-success">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    style="color:red">&times;
                            </button>
                            <h3 class="modal-title">信息维护</h3>
                        </div>
                        <div class="modal-body with-border">
                            <label class="col-sm-2 control-label">频道URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="url"
                                       value="[[ url ]]" placeholder="">
                            </div>
                            <label class="col-sm-2 control-label">频道名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="channel"
                                       value="[[ channel ]]" placeholder="">
                            </div>
                            <label class="col-sm-2 control-label">域名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="domain"
                                       value="[[ domain ]]" placeholder="">
                            </div>
                            <label class="col-sm-2 control-label">网站名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="siteName"
                                       value="[[ siteName ]]" placeholder="">
                            </div>
                            <label class="col-sm-2 control-label">配置ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="config_id"
                                       value="[[ config_id ]]" placeholder="">
                            </div>
                            <label class="col-sm-2 control-label">频道编码</label>
                            <div class="col-sm-10">
                                <select class="form-control" v-model="channel_encoding">
                                    <option v-for="option in encoding_options" v-bind:value="option.name">
                                        [[ option.name ]]
                                    </option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">详情编码</label>
                            <div class="col-sm-10">
                                <select class="form-control" v-model="detail_encoding">
                                    <option v-for="option in encoding_options" v-bind:value="option.name">
                                        [[ option.name ]]
                                    </option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">info_flag</label>
                            <div class="col-sm-10">
                                <select class="form-control" v-model="info_flag">
                                    <option v-for="option in info_flag_options" v-bind:value="option.name">
                                        [[ option.name ]]
                                    </option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">时间间隔</label>
                            <div class="col-sm-10">
                                <select class="form-control" v-model="interval">
                                    <option v-for="option in interval_options" v-bind:value="option.name">
                                        [[ option.name ]]
                                    </option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">运行状态</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="status" value="[[ status ]]"
                                       readonly>
                            </div>
                            <label class="col-sm-2 control-label">路由地址</label>
                            <div class="col-sm-10">
                                <select class="form-control" v-model="router">
                                    <option v-for="option in router_options" v-bind:value="option.name">
                                        [[ option.name ]]
                                    </option>
                                </select>
                            </div>
                            <!-- -->
                            <div class="tabbable nav-tabs-custom col-sm-12" style="margin-top: 20px;">
                                <ul class="nav nav-tabs pull-right">
                                    <li class="header pull-left"><h4><b>详情页规则</b></h4></li>
                                    <li><a href="#panel_keep_params" data-toggle="tab">保留参数</a></li>
                                    <li><a href="#panel_list_regexs" data-toggle="tab">列表正则</a></li>
                                    <li><a href="#panel_detail_regexs" data-toggle="tab">详情正则</a></li>
                                    <li><a href="#panel_list_keywords" data-toggle="tab">列表关键字</a></li>
                                    <li><a href="#panel_detail_keywords" data-toggle="tab">详情关键字</a></li>
                                    <li><a href="#panel_ends" data-toggle="tab">结尾字符</a></li>
                                    <li><a href="#panel_region" data-toggle="tab">区域</a></li>
                                    <li class="active"><a href="#panel_precise" data-toggle="tab">精准</a></li>
                                </ul>
                                <div class="tab-content" style="height: 180px">
                                    <div id="panel_precise" class="tab-pane active">
                                        <div v-for="expr in crawl_rules.precise_xpath_list" track-by="$index"
                                             class="col-sm-6">
                                            <input type="text" class="form-control" v-model="expr" value="[[ expr ]]"
                                                   placeholder="精准xpath，匹配详情页url，最多匹配到a标签，不能匹配@href">
                                        </div>
                                    </div>
                                    <div id="panel_region" class="tab-pane">
                                        <div v-for="expr in crawl_rules.region_xpath_list" track-by="$index"
                                             class="col-sm-6">
                                            <input type="text" class="form-control" v-model="expr" value="[[ expr ]]"
                                                   placeholder="详情页url所在区域的xpath，例如某个div">
                                        </div>
                                    </div>
                                    <div id="panel_ends" class="tab-pane">
                                        <div v-for="expr in crawl_rules.ends" track-by="$index"
                                             class="col-sm-6">
                                            <input type="text" class="form-control" v-model="expr" value="[[ expr ]]"
                                                   placeholder="详情页url结尾字符">
                                        </div>
                                    </div>
                                    <div id="panel_detail_keywords" class="tab-pane">
                                        <div v-for="expr in crawl_rules.detail_keywords" track-by="$index"
                                             class="col-sm-6">
                                            <input type="text" class="form-control" v-model="expr" value="[[ expr ]]"
                                                   placeholder="详情页url中包含的关键字 不包含的将被丢掉 相当于白名单">
                                        </div>
                                    </div>
                                    <div id="panel_list_keywords" class="tab-pane">
                                        <div v-for="expr in crawl_rules.list_keywords" track-by="$index"
                                             class="col-sm-6">
                                            <input type="text" class="form-control" v-model="expr" value="[[ expr ]]"
                                                   placeholder="列表页url中包含的关键字 包含的将被丢掉 相当于黑名单">
                                        </div>
                                    </div>
                                    <div id="panel_detail_regexs" class="tab-pane">
                                        <div v-for="expr in crawl_rules.detail_regexs" track-by="$index"
                                             class="col-sm-6">
                                            <input type="text" class="form-control" v-model="expr" value="[[ expr ]]"
                                                   placeholder="详情页url匹配的正则 不匹配的将被丢掉 相当于白名单">
                                        </div>
                                    </div>
                                    <div id="panel_list_regexs" class="tab-pane">
                                        <div v-for="expr in crawl_rules.list_regexs" track-by="$index"
                                             class="col-sm-6">
                                            <input type="text" class="form-control" v-model="expr" value="[[ expr ]]"
                                                   placeholder="列表页url中匹配的正则 匹配的将被丢掉 相当于黑名单">
                                        </div>
                                    </div>
                                    <div id="panel_keep_params" class="tab-pane">
                                        <input type="radio" name="keep" value="1" v-model="crawl_rules.keep_params"
                                               checked>
                                        <label>保留</label>
                                        <br>
                                        <input type="radio" name="keep" value="0" v-model="crawl_rules.keep_params">
                                        <label>不保留</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 提取规则 end -->
                        </div>
                        <div class="modal-footer">
                            <div class="direct-chat-messages col-md-6" style="height:70px;margin-top:0px;">
                                <div class="direct-chat-msg">
                                    <img class="direct-chat-img" src="/static/dist/img/user2-160x160.jpg"
                                         alt="message user image" style="width:35px;height:35px;">
                                    <div class="direct-chat-text pull-left" style="margin-left:10px;height:30px;">
                                        [[ msg ]]
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pull-right" style="margin-top:20px;">
                                <button v-on:click="saveInfo" class="btn btn-sm btn-success"
                                        v-bind:disabled="isSaveBtnDisabled">保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- info dialog end. -->

        <!-- remove modal-dialog -->
        <div id="removeDialog" class="modal modal-warning">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">删除确认</h4>
                    </div>
                    <div class="modal-body">
                        <p>[[ msg ]]</p>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="removeInfo" v-bind:disabled="isRemoveBtnDisabled" type="button"
                                class="btn btn-outline">删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- remove dialog end. -->
    {% endverbatim %}
{% endblock section_content %}

{% block jquery_js %}
    <!-- vue.js -->
    <script src="{% static 'plugins/vue1/vue.js' %}"></script>
{% endblock jquery_js %}

{% block body_tail %}
    <script type="text/javascript" src="{% static 'backend/js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/channels/js/channels_util.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/channels/js/channels_component.js' %}"></script>
    <script type="text/javascript">
        const REMOVE_CONFIRM_MSG = "删除是不可恢复的，你确认要删除吗？";

        $(document).ready(function () {
            $("#addInfoBtn").click(function () {
                clearInfo(infoVue);
            });
        });

        function getInfoList(obj) {
            //console.log("getInfoList start.");
            obj.isSearchBtnDisabled = true;
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/channelListAPI/',
                type: 'GET',
                data: {
                    searchUrl: obj.searchUrl,
                    page: obj.page
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("channelListAPI:" + err);
                },
                success: function (data, status) {
                    var items = data['ret']['result'];
                    console.log("[info] getInfoList", data);
                    for (var j = 0; j < PAGE_SIZE; j++) {
                        obj.result.shift();
                    }
                    for (var i = 0; i < items.length; i++) {
                        obj.result.push(items[i]);
                    }
                    obj.isSearchBtnDisabled = false;
                    //console.log("getInfoList end.");
                }
            });
        }

        function getPaginator(obj) {
            //console.log("getPaginator start.");
            obj.isPaginatorShow = false;
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/channelPaginatorAPI/',
                type: 'GET',
                data: {
                    searchUrl: obj.searchUrl,
                    page: obj.page
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("commentsPaginatorAPI:" + err);
                },
                success: function (data, status) {
                    //console.log("[info] getPaginator", data);
                    obj.searchCnt = data['search_cnt'];
                    obj.page = data['current_page'];
                    obj.totalPages = data['total_pages'];
                    if (obj.searchCnt > 0) obj.isPaginatorShow = true;
                    //console.log("getPaginator end.");
                }
            });
        }

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }

        function initMain(obj) {
            try {
                var page = parseInt(obj.page);
                if (isNaN(page) || page < 0) {
                    throw new Error(10, "page is not number");
                }
            }
            catch (e) {
                console.log("initMain error.", e);
                alert(e.name + ": " + e.message);
                return;
            }
            var searchUrl = getQueryString("searchUrl");
            if (searchUrl != null) {
                obj.searchUrl = searchUrl;
            }
            getInfoList(obj);
            getPaginator(obj);
        }

        function initInfo(obj) {
            //console.log("initInfo start.");
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/routerListAPI/',
                type: 'GET',
                data: {},
                dataType: "json",
                error: function (xhr, err) {
                    alert("routerListAPI:" + err);
                },
                success: function (data, status) {
                    var items = data['ret']['result'];
                    console.log("[info] routerListAPI", items);
                    for (var i = 0; i < items.length; i++) {
                        obj.router_options.push(items[i]);
                    }
                    //console.log("initInfo end.");
                }
            });
        }

        function checkInfo(obj) {
            if (obj.url == "" || obj.channel == "" || obj.domain == "" || obj.siteName == "" ||
                obj.config_id == "" || obj.channel_encoding == "" || obj.detail_encoding == "" || obj.info_flag == "" ||
                obj.interval == "" || obj.router == "") {
                console.log("url:", obj.url);
                console.log("channel:", obj.channel);
                console.log("domain:", obj.domain);
                console.log("siteName:", obj.siteName);
                console.log("config_id:", obj.config_id);
                console.log("channel_encoding:", obj.channel_encoding);
                console.log("detail_encoding:", obj.detail_encoding);
                console.log("info_flag:", obj.info_flag);
                console.log("interval:", obj.interval);
                console.log("router:", obj.router);
                return false;
            } else {
                return true;
            }
        }
        function saveInfo(obj) {
            //console.log("saveInfo start.", obj.crawl_rules);
            if (checkInfo(obj) == false) {
                obj.msg = "有未设定信息，无法保存。";
                return false;
            } else {
                obj.msg = "请稍等 ... ";
            }

            if (obj.crawl_rules.keep_params == "1") {
                obj.crawl_rules.keep_params = true;
            } else {
                obj.crawl_rules.keep_params = false;
            }
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/channelListAPI/',
                type: 'POST',
                data: {
                    url: obj.url,
                    channel: obj.channel,
                    domain: obj.domain,
                    siteName: obj.siteName,
                    crawl_rules: JSON.stringify(obj.crawl_rules),
                    config_id: obj.config_id,
                    channel_encoding: obj.channel_encoding,
                    detail_encoding: obj.detail_encoding,
                    info_flag: obj.info_flag,
                    interval: obj.interval,
                    status: obj.status,
                    router: obj.router
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("saveInfo:" + err);
                },
                success: function (data, status) {
                    console.log("[info] saveInfo", data);
                    initMain(mainVue);
                    obj.msg = data['msg'];
                }
            });
        }

        function removeInfo(obj) {
            //console.log("removeInfo start.");
            obj.msg = "正在删除频道信息 ... ";
            obj.isRemoveBtnDisabled = true;
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/channelListAPI/',
                type: 'DELETE',
                data: {
                    channel_url: obj.channel_url,
                    interval: obj.interval,
                    status: obj.status,
                    config_id: obj.config_id
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("removeInfo:" + err);
                    obj.isRemoveBtnDisabled = false;
                },
                success: function (data, status) {
                    console.log("[info] removeInfo", data);
                    obj.isRemoveBtnDisabled = true;
                    initMain(mainVue);
                    obj.msg = data['msg'];
                    //console.log("removeInfo end.", data['ret']);
                }
            });
        }

        function test(event) {
            //console.log("test start.");
            var channel_url = event.data.channel_url;
            var config_id = event.data.config_id;
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/testAPI/',
                type: 'POST',
                data: {
                    channel_url: channel_url
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("testAPI:" + err);
                },
                success: function (data, status) {
                    console.log("[info] test", data);
                    if (data['ret']) {
                        mainVue.result[mainVue.row].status = "测试中";
                        window.location.href = "/channels/testResultList/" + "?searchChannel=" + channel_url + "&searchConfigId=" + config_id;
                    } else {
                        alert(data['msg']);
                    }
                    //console.log("test end.", data['ret']);
                }
            });
        }

        function taskRun(event) {
            //console.log("taskRun start.");
            var channel_url = event.data.channel_url;
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/taskRunAPI/',
                type: 'POST',
                data: {
                    channel_url: channel_url
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("taskRunAPI:" + err);
                },
                success: function (data, status) {
                    console.log("[info] taskRun", data);
                    if (data['ret']) {
                        mainVue.result[mainVue.row].status = "运行中";
                    } else {
                        alert(data['msg']);
                    }
                    //console.log("taskRun end.", data['ret']);
                }
            });
        }

        function runResult(event) {
            var channel_url = event.data.channel_url;
            window.location.href = "/channels/runResultList/" + "?searchChannel=" + channel_url;
        }

        function timedelta(event) {
            var channel_url = event.data.channel_url;
            window.location.href = "/channels/timedeltaList/" + "?searchChannel=" + channel_url;
        }

        function reset(event) {
            //console.log("stop start.");
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/resetAPI/',
                type: 'POST',
                data: {
                    channel_url: event.data.channel_url,
                    config_id: event.data.config_id,
                    status: event.data.status
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("configTaskRunAPI:" + err);
                },
                success: function (data, status) {
                    console.log("[info] reset", data);
                    mainVue.result[mainVue.row].status = "待测试";
                    //console.log("stop end.", data['ret']);
                }
            });
        }

        function setInfoDialog(event) {
            var channel_url = event.data.channel_url;
            var obj = event.data.obj;
            //console.log("getInfoList start.");
            clearInfo(obj);
            obj.isSearchBtnDisabled = true;
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/channels/channelInfoAPI/',
                type: 'GET',
                data: {
                    searchUrl: channel_url
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("channelInfoAPI:" + err);
                },
                success: function (data, status) {
                    var info = data['ret'];
                    console.log("[info] setInfoDialog", data);
                    obj.url = info['url'];
                    obj.channel = info['channel'];
                    obj.domain = info['domain'];
                    obj.siteName = info['siteName'];
                    obj.crawl_rules = info['crawl_rules'];
                    obj.config_id = info['config_id'];
                    obj.channel_encoding = info['channel_encoding'];
                    obj.detail_encoding = info['detail_encoding'];
                    obj.info_flag = info['info_flag'];
                    obj.interval = info['interval'];
                    obj.status = info['status'];
                    obj.router = info['router'];
                    obj.msg = MSG;
                    obj.isSaveBtnDisabled = false;
                    //console.log("getInfoList end.");
                }
            });
        }

        function setRemoveDialog(event) {
            var obj = event.data.obj;
            var rowId = event.data.rowId;
            var channel_url = $(rowId).children("td").eq(0).text().replace(/(\s*)|(\s$)|[\r\n]/g, "");
            var config_id = $(rowId).children("td").eq(4).text();
            var interval = $(rowId).children("td").eq(8).text();
            var status = $(rowId).children("td").eq(9).text();
            obj.channel_url = channel_url;
            obj.config_id = config_id;
            obj.status = status;
            obj.interval = interval;
            obj.msg = "删除是不可恢复的，请确认删除该频道信息。";
            obj.isRemoveBtnDisabled = false;
            console.log("[info] setRemoveDialog", obj);
        }


        //----------------------------------------------------------------------------
        Vue.config.delimiters = ['[[', ']]'];
        //----------------------------------------------------------------------------
        Vue.filter("getDomain", {
            read: function (url) {
                //console.log('read:', url);
                infoVue.domain = url.replace(/.+[\.\/]([A-z]+\.[A-z]+)\/[^\/].+/, "$1");
                return infoVue.domain;
            },
            write: function (url) {
                //console.log('write:', url);
                return url.replace(/.+[\.\/]([A-z]+\.[A-z]+)\/[^\/].+/, "$1");
            }
        });

        //----------------------------------------------------------------------------
        var infoVue = new Vue({
            el: '#infoModal',
            data: {
                url: "",
                channel: "",
                domain: "",
                siteName: "",
                crawl_rules: {
                    "precise_xpath_list": ['', '', '', '', '', '', '', '', '', ''],
                    "region_xpath_list": ['', '', '', '', '', '', '', '', '', ''],
                    "keep_params": true,
                    "ends": ['', '', '', '', '', '', '', '', '', ''],
                    "detail_keywords": ['', '', '', '', '', '', '', '', '', ''],
                    "list_keywords": ['', '', '', '', '', '', '', '', '', ''],
                    "detail_regexs": ['', '', '', '', '', '', '', '', '', ''],
                    "list_regexs": ['', '', '', '', '', '', '', '', '', '']
                },
                config_id: "",
                channel_encoding: "utf8",
                detail_encoding: "utf8",
                encoding_options: ENCODING_OPTIONS,
                info_flag: "01",
                info_flag_options: INFO_FLAG_OPTIONS,
                interval: '15',
                interval_options: INTERVAL_OPTIONS,
                status: "待测试",
                router: "TEST",
                router_options: [],
                msg: MSG,
                isSaveBtnDisabled: false,
                YES: true,
                NO: false
            },
            methods: {
                saveInfo: function () {
                    saveInfo(this);
                }
            },
            ready: function () {
                initInfo(this);
            },
            watch: {
                url: function () {
                    //this.domain = this.url.replace(/.+[\.\/]([A-z]+\.[A-z]+)\/.+/, "$1");
                }
            }
        });
        var removeVue = new Vue({
            el: "#removeDialog",
            data: {
                channel_url: "",
                config_id: -1,
                status: "",
                interval: "",
                isRemoveBtnDisabled: false,
                msg: "删除是不可恢复的，你确认要删除吗？"
            },
            methods: {
                removeInfo: function () {
                    removeInfo(this);
                }
            }
        });
        //----------------------------------------------------------------------------
        var mainVue = new Vue({
            el: '#section',
            data: {
                searchUrl: "",
                searchCnt: 0,
                page: 1,
                totalPages: 1,
                isPaginatorShow: false,
                result: [],
                info_flag_options: INFO_FLAG_OPTIONS,
                row: -1,
                isSearchBtnDisabled: false
            },
            methods: {
                showOpt: function (row) {
                    mainVue.row = row;
                    var rowId = "#tr_" + row.toString();
                    var opt = $(rowId).children("td").last();
                    if (opt.html().length == 0) {
                        opt.html('<button id="infoDialogBtn" data-target="#infoModal" data-toggle="modal" class="btn btn-success btn-xs">编辑</button>&nbsp;&nbsp;' +
                            '<button id="removeBtn" data-target="#removeDialog" data-toggle="modal" class="btn btn-xs btn-warning">删除</button>&nbsp;&nbsp;' +
                            '<button id="testBtn" class="btn btn-xs btn-success">测试</button>&nbsp;&nbsp;' +
                            '<button id="taskRunBtn" class="btn btn-xs btn-success">运行</button>&nbsp;&nbsp;' +
                            '<button id="runResultBtn" class="btn btn-xs btn-success">运行结果</button>&nbsp;&nbsp;' +
                            '<button id="timedeltaBtn" class="btn btn-xs btn-success">时间差</button>&nbsp;&nbsp;' +
                            '<button id="resetBtn" class="btn btn-xs btn-default">重置</button>'
                        );

                        var channel_url = $(rowId).children("td").eq(0).text().replace(/(\s*)|(\s$)|[\r\n]/g, "");
                        var config_id = $(rowId).children("td").eq(4).text();
                        var interval = $(rowId).children("td").eq(8).text();
                        var status = $(rowId).children("td").eq(9).text();

                        $("#infoDialogBtn").bind("click", {channel_url: channel_url, obj: infoVue}, setInfoDialog);

                        $("#removeBtn").bind("click", {rowId: rowId, obj: removeVue}, setRemoveDialog);

                        $("#testBtn").bind("click", {
                            channel_url: channel_url,
                            config_id: config_id
                        }, test);

                        $("#taskRunBtn").bind("click", {channel_url: channel_url}, taskRun);

                        $("#runResultBtn").bind("click", {channel_url: channel_url}, runResult);

                        $("#timedeltaBtn").bind("click", {channel_url: channel_url}, timedelta);

                        $("#resetBtn").bind("click", {
                            channel_url: channel_url,
                            config_id: config_id,
                            status: status
                        }, reset);
                    }
                },
                hideOpt: function (row) {
                    var rowId = "#tr_" + row.toString();
                    var opt = $(rowId).children("td").last();
                    if (opt.html().length != 0) {
                        opt.html('');
                        $("#testBtn").unbind("click");
                        $("#taskBtn").unbind("click");
                        $("#resetBtn").unbind("click");
                    }
                },
                search: function () {
                    getInfoList(this);
                    getPaginator(this);
                }
            },
            ready: function () {
                initMain(this);
            },
            watch: {
                page: function () {
                    initMain(this);
                }
            }
        });
        //----------------------------------------------------------------------------
        function clearInfo(obj) {
            //console.log("add info");
            obj.url = "";
            obj.channel = "";
            obj.domain = "";
            obj.siteName = "";
            obj.crawl_rules = {
                "precise_xpath_list": ['', '', '', '', '', '', '', '', '', ''],
                "region_xpath_list": ['', '', '', '', '', '', '', '', '', ''],
                "keep_params": true,
                "ends": ['', '', '', '', '', '', '', '', '', ''],
                "detail_keywords": ['', '', '', '', '', '', '', '', '', ''],
                "list_keywords": ['', '', '', '', '', '', '', '', '', ''],
                "detail_regexs": ['', '', '', '', '', '', '', '', '', ''],
                "list_regexs": ['', '', '', '', '', '', '', '', '', '']
            };
            obj.config_id = -1;
            obj.channel_encoding = "utf8";
            obj.detail_encoding = "utf8";
            obj.info_flag = "新闻";
            obj.interval = "1";
            obj.status = "待测试";
            obj.router = "TEST";
            obj.msg = MSG;
        }
    </script>
{% endblock body_tail %}
