<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>js实现立体球面标签效果</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url("static/css/ball.css") }}"/>
    <script type="text/javascript" src="{{ static_url("static/js/ball.js") }}"></script>
</head>

<body>
<div id="div1">
    <a href="http://www.lanrenzhijia.com">JS课程</a>
    <a href="http://www.lanrenzhijia.com/" class="red">教程</a>
    <a href="http://www.lanrenzhijia.com">试听</a>
    <a href="http://www.lanrenzhijia.com">精品</a>
    <a href="http://www.lanrenzhijia.com" class="blue">懒人之家</a>
    <a href="http://www.lanrenzhijia.com/">SEO</a>
    <a href="http://www.lanrenzhijia.com" class="red">特效</a>
    <a href="http://www.lanrenzhijia.com/" class="yellow">JavaScript</a>
    <a href="http://www.lanrenzhijia.com/">miaov</a>
    <a href="http://www.lanrenzhijia.com/" class="red">CSS</a>
    <a href="http://www.lanrenzhijia.com/">求职</a>
    <a href="http://www.lanrenzhijia.com/" class="blue">面试题</a>
    <a href="http://www.lanrenzhijia.com/">继承</a>
    <a href="http://www.lanrenzhijia.com/" class="red">懒人之家</a>
    <a href="http://www.lanrenzhijia.com/" class="blue">OOP</a>
    <a href="http://www.lanrenzhijia.com/">XHTML</a>
    <a href="http://www.lanrenzhijia.com/" class="blue">setInterval</a>
    <a href="http://blog.lanrenzhijia.com/">W3C</a>
    <a href="http://blog.lanrenzhijia.com/">石川</a>
    <a href="http://www.lanrenzhijia.com/" class="yellow">懒人之家</a>
    <a href="http://blog.lanrenzhijia.com/">blue</a>
</div>
</body>
</html>
