<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信采集数据展示</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="static/images/index1.png" alt="First slide">
        </div>
        <div class="item">
            <img src="static/images/index2.png" alt="Second slide">
        </div>
        <div class="item">
            <img src="static/images/index3.png" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h1>
                朋友圈
            </h1>
            <p>
                1.时间区间检索<br>
                2.朋友圈检索<br>
                3.发布的消息中有无图片信息<br>
                4.发布的消息中有无点赞信息<br>
                5.发布的消息中有无回复信息<br>
            </p>
            <p>
                <a class="btn" href="/friends?init=true">更多信息 »</a>
            </p>
        </div>
        <div class="col-md-6 column">
            <h1>
                周围的人
            </h1>
            <p>
                1.提供地图点选地点功能<br>
                2.限定采集地点距离<br>
                3.发布人检索<br>
                4.发布的消息中带不带有图片信息<br>
            </p>
            <p>
                <a class="btn" href="/around?init=true">更多信息 »</a>
            </p>
        </div>
    </div>
</body>
</html>