{#{% extends "main.html" %}#}
{% autoescape None %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <!-- jquery -->
    <script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <title>全站展示-中文网站-网站一览</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#site_index_tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='/static/images/loading_roll.gif'/>",
                    "sSearch": "检索",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    }
                },
                "info": true,
                "aLengthMenu": [20],
                "bLengthChange": false,
                "bFilter": true,
                "bProcessing": true,
                "bServerSide": true,
                "ajax": "./getSiteListJson",
                "aoColumns": [{"mData": "hubPage"}, {"mData": "hubPageCnt"}, {"mData": "siteName"}],
                "aoColumnDefs": [
                    {
                        "sWidth": "20%",
                        "aTargets": [0],
                        "mRender": function (data, type, row) {
                            return row[0];
                        }
                    },
                    {
                        "sWidth": "20%",
                        "aTargets": [1],
                        "mRender": function (data, type, row) {
                            return '<a target=\"hubPageframe\" href=\"/getHubPage2?init=true&site=' + row[0] + '\">' +
                                '<span class=\"badge\" style=\"background-color:dodgerblue\">' + row[1] + '</span>' +
                                '</a>';
                        }
                    },
                    {
                        "sWidth": "60%",
                        "aTargets": [2],
                        "mRender": function (data, type, row) {
                            return '<a href=\"' + row[0] + '\">' + row[2] + '</a>';
                        }
                    }
                ],
                {#                "fnServerParams": function (aoData) {#}
                {#                    aoData.push({"name": "aaa", "value": "bbbb"});#}
                {#                },#}
                //"aaSorting": [[0, "desc"]],
                //"scrollY": "785px"
            });
        });
    </script>
</head>

{% block body %}
<style type="text/css">
    body {
        background-color: #f1f1f1;
    }
</style>

{% set url_pre = "http://www." %}

<div id="menu" style="height:100%;width:150px;float:left;background-color: #3c3c3c"
     class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar nav-pills" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="#" target="mainframe" data-toggle="tooltip"
                   title="采集网站图形展示">采集网站汇总
                </a>
            </li>
            <li class="active">
                <a href="#" target="mainframe" data-toggle="tooltip"
                   title="采集数据URL展示"> 采集网站URL一览
                </a>
            </li>
            <li>
                <a href="#" target="mainframe" data-toggle="tooltip"
                   title="采集状态"> 采集状态
                </a>
            </li>
            <li>
                <a href="#" target="mainframe" data-toggle="tooltip"
                   title="异常监测"> 异常监测
                </a>
            </li>
            <li>
                <a href="#" target="mainframe" data-toggle="tooltip"
                   title="todo"> todo
                </a>
            </li>
            <li id="todo">
                <a href="#" target="mainframe" data-toggle="tooltip"
                   title="todo"> todo
                </a>
            </li>
            <li id="todo">
                <a href="#" target="mainframe" data-toggle="tooltip"
                   title="管理工具"> 管理工具
                </a>
            </li>
        </ul>
    </nav>
</div>

<div id="site_index_div" style="float:left;margin-left:180px;margin-top:50px;width:43%;" class="inverse col-sm-9">
    <table id="site_index_tab" class="table">
        <thead>
        <tr>
            <th>网站地址</th>
            <th>列表数</th>
            <th>网站名称</th>
        </tr>
        </thead>
    </table>
</div>

<div id="main" style="float:right;margin-right:50px;margin-top:50px;width:43%;" class="inverse col-sm-9">
    <iframe name="hubPageframe" style="height:100%;width:800px" frameborder="0" scrolling="yes"></iframe>
</div>
{% end %}
</html>


