{% extends "bootstrap/base.html" %}
{% block scripts %}
{#todo#}
{% endblock %}

{% block content %}
{#<h3 align="center">管理员#}
{#    <small>工具集</small>#}
{#</h3>#}
{#<hr/>#}
<div id="message" class="alert alert-warning form-group center" style="width:80%; margin-left:10px">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <label>{{ message }}</label>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div id="config" class="form-group center" style="width:80%; margin-left:50px">
    <hr>
    <a class="btn btn-success" href="{{ url_for('static', filename='export/help.xlsx') }}">下载帮助文档</a>
    <hr>
    <form action="tool_export_upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" value="选择导入文件"/>
        <br>
        <input type="submit" value="导入文件(请使用英文名称)" class="btn btn-success"/>
    </form>
    <hr>
    <a href="tool_reset_redis" class="btn btn-success">清除所有Redis结果</a>
    <hr>
    <a href="tool_getenv" class="btn btn-success">环境信息</a>
    <p>{{ json_str }}</p>
    <hr>
    <form action="tool_session_setting" method="post">
        <label>主页</label><input type="text" name="start_url" size="50"/>&nbsp;&nbsp;&nbsp;
        <label>限定域名</label><input type="text" name="site_domain" size="50"/>&nbsp;&nbsp;&nbsp;
        <input type="submit" value="导入到session" class="btn btn-success"/>
    </form>
</div>
{% endblock %}