{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#detail_url_tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='./img/loading.gif' />"
                },
                "sSearch": "模糊查询：",
                "bFilter": true,
                "bLengthChange": true,
                "aLengthMenu": [10, 20]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h3 align="center">自动提取
        <small>标题、内容、作者、创建时间</small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <hr>
    <div id="regex_div" class="form-group" style="float:left;width:90%; margin-left:10px">
        <form id="cond" method="POST" action="/content_advice">
            {{ inputForm.detail_regex_sel(style="width:400px;") }}
            {{ inputForm.match(class="btn btn-default") }}
            {{ inputForm.content_advice(class="btn btn-default") }}
        </form>
    </div>
    <hr>
    <div id="detail_url_div" class="form-group" style="float:left;width:48%; margin-left:10px">
        <table id="detail_url_tab" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>详情页URL</th>
            </tr>
            </thead>
            <tbody>
            {% for row in inputForm.detail_url_list %}
                <tr id= {{ "url_" ~ loop.index }}>
                    <td>{{ row }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="item_div" class="form-group" style="float:right;width:48%; margin-left:10px">
        <table id="item_tab" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>项目</th>
                <th>自动提取结果</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>标题</td>
                <td>{{ inputForm.title(rows="3",cols="80") }}</td>
            </tr>
            <tr>
                <td>内容</td>
                <td>{{ inputForm.content(rows="10",cols="80") }}</td>
            </tr>
            <tr>
                <td>作者</td>
                <td>{{ inputForm.author(size=80) }}</td>
            </tr>
            <tr>
                <td>创建时间</td>
                <td>{{ inputForm.ctime(size=80) }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}