{% extends "bootstrap/base.html" %}
{% block scripts %}
{#todo#}
{% endblock %}

{% block content %}
<h3 align="center">导入/导出
    <small>主页、域名、详情页/列表页URL的特征词/正则表达式</small>
</h3>
<hr/>
<div id="message" class="alert alert-warning form-group center" style="width:80%; margin-left:10px">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <label>{{ message }}</label>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div id="config" class="form-group center" style="width:80%; margin-left:50px">
    <hr>
    <a class="bottom" href="{{ url_for('static', filename='export/help.xlsx') }}">下载帮助文档</a>
    <hr>
    <form action="export_upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" value="选择导入文件"/>
        <br>
        <input type="submit" value="导入文件(请使用英文名称)"/>
    </form>
    <hr>
    <a href="help_reset_redis">清除所有Redis结果</a>
    <hr>
    <a href="help_getenv">环境信息</a>
    <p>{{ json_str }}</p>
    <hr>
</div>
{% endblock %}