{% extends "bootstrap/base.html" %}
{% block title %} 全站爬虫v0.01 {% endblock %}
{% block navbar %}
    <nav class="navbar nav-pills" role="navigation">
        <div id="menu">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="setting_advice" target="mainframe">①推荐</a></li>
                <li><a href="setting_list_init" target="mainframe">②配置列表/详情页规则</a></li>
                <li><a href="show_server_log" target="mainframe">③过程监测-后台log</a></li>
                <li><a href="show_process" target="mainframe">③过程监测-统计图表</a></li>
                <li class="disabled"><a href="setting_content_init" target="mainframe"> ④配置内容规则</a></li>
                <li><a href="user_search" target="mainframe">⑤查询历史记录</a></li>
                <li class="disabled"><a href="export_init" target="mainframe">⑥帮助</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="main" style="height:1000px;width:1280px;float:left;">
        <iframe name="mainframe" style="height:1280px;width:1360px" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}