{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $(document).ready(function () {
            <!-- 转换正则 -->
            function submit_convert(e) {
                $.ajax({
                    url: $SCRIPT_ROOT + '/convert',
                    contentType: "application/json; charset=UTF-8",
                    dataType: 'json',
                    data: {
                        convert_url: $('input[id="convert_url"]').val(),
                        now: new Date().getTime()
                    },
                    error: function (xhr, err) {
                        $('#regex_result').text(err);
                    },
                    success: function (data, textStatus) {
                        $('#regex_result').text(data.regex);
                    }
                });
            };
            $('#convert_btn').click(submit_convert);

            <!-- restful -->
            $("tr-aaa").change(function () {
                var id_str = $(this).attr("id");
                {#                $(this).css("color","red");#}
                if (id_str.search("list") > 0) {
                    alert("list:" + id_str);
                } else {
                    alert("detail:" + id_str);
                }
                $.ajax({
                    url: $SCRIPT_ROOT + '/todos',
                    type: "POST",
                    dataType: "json",
                    {#contentType: "application/json; charset=utf-8", #}
                    data: {"task": "something new"},
                    error: function (xhr, err) {
                        alert("error");
                        alert(err);
                    },
                    success: function (data, textStatus) {
                        {#                        alert(textStatus);#}
                        alert(JSON.stringify(data, null, 4)); //转换成字符串
                        alert(data.task);
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 align="center">设定抓取信息
        <small>主页、域名、详情页/列表页URL的特征词/正则表达式</small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form id="setting" method="POST" action="/list_save_and_run">
        <hr>
        <div id="config" class="form-group center" style="width:100%; margin-left:20px">
            {{ inputForm.start_url.label }}&nbsp;{{ inputForm.start_url(size=30) }}&nbsp;
            {{ inputForm.site_domain.label }}&nbsp;{{ inputForm.site_domain(size=20) }}&nbsp;
            {{ inputForm.black_domain_str.label }}&nbsp;{{ inputForm.black_domain_str(size=20) }}&nbsp;请按照域名 + ‘;’
            形式增加。
            {{ inputForm.mode() }}&nbsp;{{ inputForm.mode.label }}
        </div>
        <hr>
        <div id="convert-ajax" class="form-group" style="width:100%; margin-left:20px">
            <label>[例] http://cpt.xtu.edu.cn/a/gonggao/2013/1125/225.html >>>
                /[a-zA-Z]{1}/[a-zA-Z]{7}/\d{4}/\d{4}/\d{3}.html </label><br>
            <input type=text size=70 id="convert_url">&nbsp;<input type="button" id="convert_btn" value="转换为正则">&nbsp;
            <label id="regex_result"> 请确认转换后的表达式， 编辑（拷贝） 到下面列表中。 </label>
        </div>
        <hr>
        <div id="list-regex" class="form-group" style="float:left;width:48%; margin-left:10px">
            <table id="list-regex-tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>列表页-正则表达式</th>
                    <th>匹配次数</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.list_regex_list %}
                    <tr id= {{ "list_" ~ loop.index }}>
                        <td>{{ row.regex(size=70) }}</td>
                        <td>{{ row.score(size=6,readonly="readonly") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="detail-regex" class="form-group" style="float:right;width:48%; margin-left:10px">
            <table id="detail-regex-tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>详情页-正则表达式</th>
                    <th>匹配数</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.detail_regex_list %}
                    <tr id= {{ "detail_" ~ loop.index }}>
                        <td>{{ row.regex(size=70) }}</td>
                        <td>{{ row.score(size=6,readonly="readonly") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="title" class="form-group" style="float:left;width:100%; margin-left:10px">
            <button type="button" class="btn">{{ inputForm.save_run_list() }}</button>
            <button type="button" class="btn">{{ inputForm.save_run_detail() }}</button>
        </div>
    </form>

{% endblock %}