{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $(function () {
            <!-- 推荐 -->
            function get_advice(e) {
                var site_domain = $('input[id="site_domain"]').val()
                alert(site_domain);

                $.ajax({
                    url: $SCRIPT_ROOT + '/setting_advice',
                    contentType: "application/json; charset=UTF-8",
                    dataType: 'json',
                    data: {
                        site_domain: site_domain,
                        now: new Date().getTime()
                    },
                    error: function (xhr, err) {
                        $('#advice_result').text(err);
                    },
                    success: function (data, textStatus) {
                        alert(data);
                        $('#advice_result').text(data);
                        window.open("show_advice", "_blank", "top=400,left=400,width=400,height=400,menubar=yes,scrollbars=no,toolbar=yes,status=yes");
                    }
                });
            };
            $('#advice_btn').click(get_advice);
        });
    </script>
{% endblock %}
{% block content %}
    <h3 align="center">推荐
        <small>基于主页 URL归类正则表达式/关键字</small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form id="setting" method="POST" action="/list_save_and_run">
        <hr>
        <div id="config" class="form-group center" style="width:100%; margin-left:20px">
            {{ inputForm.start_url.label }}&nbsp;{{ inputForm.start_url(size=30) }}&nbsp;
            {{ inputForm.site_domain.label }}&nbsp;{{ inputForm.site_domain(size=20) }}&nbsp;
            {{ inputForm.black_domain_str.label }}&nbsp;{{ inputForm.black_domain_str(size=20) }}&nbsp;请按照域名 + ‘;’
            形式增加。
            {{ inputForm.advice(id="advice_btn") }}
{#            <input type="button" id="advice_btn" value="推荐">#}
        </div>
        <hr>
        <div id="list-regex" class="form-group" style="float:left;width:48%; margin-left:10px">
            <table id="list-regex-tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>正则表达式</th>
                    <th>匹配次数</th>
                    <th>采用</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.regex_list %}
                    <tr id= {{ "list_" ~ loop.index }}>
                        <td>{{ row.regex(size=60) }}</td>
                        <td><a href="/user_search">{{ row.score(readonly="readonly",size=5) }}</a></td>
                        <td>{{ row.select() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="detail-regex" class="form-group" style="float:right;width:48%; margin-left:10px">
            <table id="detail-regex-tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>关键字</th>
                    <th>匹配次数</th>
                    <th>采用</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.keyword_list %}
                    <tr id= {{ "detail_" ~ loop.index }}>
                        <td>{{ row.keyword(size=60) }}</td>
                        <td><a href="/user_search">{{ row.score(readonly="readonly",size=5) }}</a></td>
                        <td>{{ row.select() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

{% endblock %}