{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables Javascript-->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $(document).ready(function () {
            for (var i = 0; i < 10; i++) {
                var patrn_rubbish = /uid|username|space|search|blog|group/;
                var patrn_detail = /post|thread|detail/;
                var patrn_list = /list|index|forum|fid/;

                var obj_k = "#keyword_list-" + i.toString() + "-keyword";
                var keyword = $(obj_k).val();

                if (patrn_rubbish.exec(keyword)) {
                    $(obj_k).css("borderColor", "orange");
                }
                if (patrn_detail.exec(keyword)) {
                    $(obj_k).css("borderColor", "blue");
                }
                if (patrn_list.exec(keyword)) {
                    $(obj_k).css("borderColor", "green");
                }

                var obj_r = "#regex_list-" + i.toString() + "-regex";
                var regex = $(obj_r).val();

                if (patrn_rubbish.exec(regex)) {
                    $(obj_r).css("borderColor", "orange");
                }
                if (patrn_detail.exec(regex)) {
                    $(obj_r).css("borderColor", "blue");
                }
                if (patrn_list.exec(regex)) {
                    $(obj_r).css("borderColor", "green");
                }
            }

        });
        function rtrim() {
            var patrn = /\/$/;
            var obj = $("#start_url");
            var url = $(obj).val();
{#            alert(url);#}
{#            document.getElementsByName("site_domain").value = "ccccccccc";#}
            if (patrn.exec($(obj).val())) {
                var s = url.substr(url.length - 1);
                $(obj).value = s;
            }
        }

        $(function () {
            <!-- 推荐 -->
            function get_advice(e) {
                var site_domain = $('input[id="site_domain"]').val()
                {#                alert(site_domain);#}
                $.ajax({
                    url: $SCRIPT_ROOT + '/setting_advice',
                    contentType: "application/json; charset=UTF-8",
                    dataType: 'json',
                    data: {
                        site_domain: site_domain,
                        now: new Date().getTime()
                    },
                    error: function (xhr, err) {
                        $('#advice_result').text(err);
                    },
                    success: function (data, textStatus) {
                        alert(data);
                        $('#advice_result').text(data);
                    }
                });
            };
            $('#advice_btn').click(get_advice);

            {#### 推荐链接 ###################################################}
            $("a").click(function () {
                var id_str = $(this).attr("id");
                {#$(this).css("color","red");#}
                if (id_str.search("regex") >= 0) {
                    {#  regex_score_4 -> regex_list-3-regex  #}
                    {#  alert("id_str:" + id_str);#}
                    regex_id = "#regex_list-" + (parseInt(id_str.substr("regex_score_".length)) - 1).toString() + "-regex";
                    expr = $(regex_id).val();
                    {#  alert(regex_id + ":" + expr);#}
                } else {
                    {#  keyword_score_4 -> keyword_list-3-keyword  #}
                    {#  alert("keyword:" + id_str);#}
                    regex_id = "#keyword_list-" + (parseInt(id_str.substr("keyword_score_".length)) - 1).toString() + "-keyword";
                    expr = $(regex_id).val();
                    {#  alert(regex_id + ":" + expr);#}
                }
                var myWin = window.open("setting_advice_window?regex=" + expr, "_blank",
                        "top=200,left=400,width=900,height=600,menubar=no,scrollbars=yes,toolbar=no,status=no,resizable=no,location=yes");
                if (myWin.document) {
                    myWin.document.title = "推荐";
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 align="center">主页URL归类
        <small>正则表达式/关键字 (黄色：垃圾，绿色：列表，蓝色：详情)</small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form id="setting" method="POST" action="/setting_advice_try">
        <hr>
        <div id="config_div" class="form-group center" style="width:100%; margin-left:20px">
            {{ inputForm.start_url.label }}&nbsp;{{ inputForm.start_url(id='start_url',size=30,onblur="rtrim(this);") }}&nbsp;
            {{ inputForm.site_domain.label }}&nbsp;{{ inputForm.site_domain(id='site_domain',size=20,onblur="rtrim(this);") }}&nbsp;
            {{ inputForm.black_domain_str.label }}&nbsp;{{ inputForm.black_domain_str(size=20,placeholder="域名1;域名2;域名3;") }}&nbsp;
            {{ inputForm.advice(id="advice_btn",class="btn btn-default") }}
            {# <input type="button" id="advice_btn" value="推荐">#}
        </div>
    </form>
    <hr>
    <form id="setting" method="POST" action="/setting_advice_use">
        <div id="regex_div" class="form-group" style="float:left;width:48%; margin-left:10px">
            <table id="regex_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>正则表达式</th>
                    <th>匹配次数</th>
                    <th>类别选择</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.regex_list %}
                    <tr id= {{ "regex_" ~ loop.index }}>
                        <td id={{ "regex_expr_"~ loop.index }}>{{ row.regex(size=60) }}</td>
                        <td>
                            <a id={{ "regex_score_" ~ loop.index }} href="#">
                                {{ row.score(readonly="readonly",size=5) }}</a>
                        </td>
                        <td>{{ row.select() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="keyword_div" class="form-group" style="float:right;width:48%; margin-left:10px">
            <table id="keyword_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>关键字</th>
                    <th>匹配次数</th>
                    <th>类别选择</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.keyword_list %}
                    <tr id= {{ "keyword_" ~ loop.index }}>
                        <td id={{ "keyword_expr_"~ loop.index }}>{{ row.keyword(size=60) }}</td>
                        <td>
                            <a id={{ "keyword_score_"~ loop.index }} href="#">
                                {{ row.score(readonly="readonly",size=5) }}</a>
                        </td>
                        <td>{{ row.select() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="use_div" class="form-group center" style="width:100%; margin-left:20px">
            {{ inputForm.use(id="use_btn",class="btn btn-default") }}
        </div>
    </form>

{% endblock %}