{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $(function () {
            <!-- 推荐 -->
            function get_advice(e) {
                var site_domain = $('input[id="site_domain"]').val()
                {#                alert(site_domain);#}
                $.ajax({
                    url: $SCRIPT_ROOT + '/setting_advice',
                    contentType: "application/json; charset=UTF-8",
                    dataType: 'json',
                    data: {
                        site_domain: site_domain,
                        now: new Date().getTime()
                    },
                    error: function (xhr, err) {
                        $('#advice_result').text(err);
                    },
                    success: function (data, textStatus) {
                        alert(data);
                        $('#advice_result').text(data);
                    }
                });
            };
            $('#advice_btn').click(get_advice);

            {#### 推荐链接 ###################################################}
            $("a").click(function () {
                var id_str = $(this).attr("id");
                {#$(this).css("color","red");#}
                if (id_str.search("regex") >= 0) {
                    {#  regex_score_4 -> regex_list-3-regex  #}
                    {#                    alert("id_str:" + id_str);#}
                    regex_id = "#regex_list-" + (parseInt(id_str.substr("regex_score_".length)) - 1).toString() + "-regex";
                    expr = $(regex_id).val();
                    {#                    alert(regex_id + ":" + expr);#}
                } else {
                    {#  keyword_score_4 -> keyword_list-3-keyword  #}
                    {#                    alert("keyword:" + id_str);#}
                    regex_id = "#keyword_list-" + (parseInt(id_str.substr("keyword_score_".length)) - 1).toString() + "-keyword";
                    expr = $(regex_id).val();
                    {#                    alert(regex_id + ":" + expr);#}
                }
                window.open("setting_advice_window?regex=" + expr, "_blank",
                        "top=400,left=400,width=900,height=600,menubar=no,scrollbars=yes,toolbar=no,status=no");
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 align="center">推荐
        <small>基于主页 URL归类正则表达式/关键字</small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form id="setting" method="POST" action="/setting_advice">
        <hr>
        <div id="config_div" class="form-group center" style="width:100%; margin-left:20px">
            {{ inputForm.start_url.label }}&nbsp;{{ inputForm.start_url(size=30) }}&nbsp;
            {{ inputForm.site_domain.label }}&nbsp;{{ inputForm.site_domain(size=20) }}&nbsp;
            {{ inputForm.black_domain_str.label }}&nbsp;{{ inputForm.black_domain_str(size=20,placeholder="域名1;域名2;域名3;") }}&nbsp;
            {{ inputForm.advice(id="advice_btn") }}
            {# <input type="button" id="advice_btn" value="推荐">#}
        </div>
    </form>
    <hr>
    <form id="setting" method="POST" action="/setting_advice_save">
        <div id="regex_div" class="form-group" style="float:left;width:48%; margin-left:10px">
            <table id="regex_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>正则表达式</th>
                    <th>匹配次数</th>
                    <th>采用</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.regex_list %}
                    <tr id= {{ "regex_" ~ loop.index }}>
                        <td {{ "regex_expr_"~ loop.index }}>{{ row.regex(size=60) }}</td>
                        <td>
                            <a id={{ "regex_score_" ~ loop.index }} href="#">
                                {{ row.score(readonly="readonly",size=5) }}</a>
                        </td>
                        <td>{{ row.select() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="keyword_div" class="form-group" style="float:right;width:48%; margin-left:10px">
            <table id="keyword_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>关键字</th>
                    <th>匹配次数</th>
                    <th>采用</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.keyword_list %}
                    <tr id= {{ "keyword_" ~ loop.index }}>
                        <td id={{ "keyword_expr_"~ loop.index }}>{{ row.keyword(size=60) }}</td>
                        <td>
                            <a id={{ "keyword_score_"~ loop.index }} href="#">
                                {{ row.score(readonly="readonly",size=5) }}</a>
                        </td>
                        <td>{{ row.select() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="use_div" class="form-group center" style="width:100%; margin-left:20px">
            {{ inputForm.use(id="use_btn") }}
        </div>
    </form>

{% endblock %}