{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $(function () {
            function submit_form2(e) {
                $.ajax({
                    url: $SCRIPT_ROOT + '/convert',
                    contentType: "application/json; charset=UTF-8",
                    dataType: 'json',
                    data: {
                        convert_url: $('input[id="convert_url"]').val(),
                        now: new Date().getTime()
                    },
                    error: function (xhr, err) {
                        $('#regex_result').text(err);
                    },
                    success: function (data, textStatus) {
                        $('#regex_result').text(data.regex);
                    }
                });
            };
            $('#convert').click(submit_form2);
        });

        $(document).ready(function () {
            var detail_t = $('#detail-regex-tab-aaa').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sZeroRecords": "没有检索到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "Redis没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有检索到数据",
                    "sProcessing": "<img src='./loading.gif' />"
                },
                "bFilter": false,
                "bLengthChange": false,
                "aLengthMenu": [5, 10, 50, "All"],
                "bStateSave": true
            });
            var list_t = $('#list-regex-tab-aaaa').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sZeroRecords": "没有检索到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "Redis没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有检索到数据",
                    "sProcessing": "<img src='./img/loading.gif' />"
                },
                "bFilter": false,
                "bLengthChange": false,
                "aLengthMenu": [5, 10, 50, "All"],
                "bStateSave": true
            });
            $('#addRow').on('click', function () {
                detail_t.row.add([
                    'rule1',
                    '<<',
                    'url'
                ]).draw();
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 align="center">设定抓取信息
        <small>主页、域名、详情页/列表页URL的特征词/正则表达式</small>
    </h3>
    <hr/>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <form id="setting" method="POST" action="/save_and_run">
        <hr/>
        <div id="config" class="form-group center" style="width:80%; margin-left:20px">
            {{ inputForm.start_url.label }}&nbsp;{{ inputForm.start_url(size=30) }}&nbsp;
            {{ inputForm.site_domain.label }}&nbsp;{{ inputForm.site_domain(size=20) }}&nbsp;
            {{ inputForm.black_domain_str.label }}&nbsp;{{ inputForm.black_domain_str(size=20) }}&nbsp;请按照域名 + ‘;’
            形式增加。<br>
        </div>
        <hr/>
        <div id="convert-ajax" class="form-group" style="width:100%; margin-left:20px">
            <label>[例] http://cpt.xtu.edu.cn/a/gonggao/2013/1125/225.html >>>
                /[a-zA-Z]{1}/[a-zA-Z]{7}/\d{4}/\d{4}/\d{3}.html </label><br>
            <input type=text size=70 id="convert_url">&nbsp;<input type="button" id="convert" value="转换为正则">&nbsp;
            <label id="regex_result"> 请确认转换后的表达式， 编辑（拷贝） 到下面列表中。 </label>
        </div>
        <hr>
        <div id="list-regex" class="form-group" style="float:left;width:48%; margin-left:10px">
            <label for="name">列表页-正则表达式(10条)</label>
            <table id="list-regex-tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>正则表达式</th>
                    <th>权重</th>
                    <th>匹配次数</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.list_regex_list %}
                    <tr id={{ loop.index }}>
                        <td>{{ row.regex(size=60) }}</td>
                        <td>{{ row.weight() }}</td>
                        <td>{{ row.score(size=6) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="detail-regex" class="form-group" style="float:right;width:48%; margin-left:10px">
            <label for="name">详情页-正则表达式(10条)</label><br>
            <table id="detail-regex-tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>正则表达式</th>
                    <th>权重</th>
                    <th>匹配数</th>
                </tr>
                </thead>
                <tbody>
                {% for row in inputForm.detail_regex_list %}
                    <tr id="{{ loop.index }}">
                        <td>{{ row.regex(size=60) }}</td>
                        <td>{{ row.weight() }}</td>
                        <td readonly="readonly">{{ row.score(size=6) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="title" class="form-group" style="float:left;width:100%; margin-left:10px">
            <button type="button" class="btn">{{ inputForm.save_run() }}</button>
        </div>
    </form>

{% endblock %}