{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h3 align="center">设定内容提取
        <small>标题，内容，作者，创建时间 的表达式</small>
    </h3>
    <hr>
    <div id="message" class="alert alert-warning form-group center" style="width:100%; margin-left:10px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <hr>
    <div id="content" class="form-group" style="width:100%; margin-left:10px">
        <form id="setting" method="POST" action="/content_save_and_run">
            <label for="name">内容提取</label>
            <table id="list-regex-tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>项目</th>
                    <th>提取方法</th>
                    <th>表达式</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>标题</td>
                    <td>{{ inputForm.title_sel }}</td>
                    <td>{{ inputForm.title_exp(size=60) }}</td>
                </tr>
                <tr>
                    <td>内容</td>
                    <td>{{ inputForm.content_sel }}</td>
                    <td>{{ inputForm.content_exp(size=60) }}</td>
                </tr>
                <tr>
                    <td>作者</td>
                    <td>{{ inputForm.auth_sel }}</td>
                    <td>{{ inputForm.auth_exp(size=60) }}</td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td>{{ inputForm.ctime_sel }}</td>
                    <td>{{ inputForm.ctime_exp(size=60) }}</td>
                </tr>
                </tbody>
            </table>
            <hr><hr>
            <button type="button" class="btn">{{ inputForm.save_run }}</button>
        </form>
    </div>


{% endblock %}