{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script type="text/javascript">
        function GetHtml() {
            $.ajax({
                url: $SCRIPT_ROOT + '/show_advice',
                type: "POST",
                success: LoadHtml
            });
        }
        function LoadHtml(data) {
            var div = document.getElementById("out");
            div.innerHTML = data;
        }
    </script>
{% endblock %}

{% block content %}
    <input type="button" value="加载Html" onclick="GetHtml()"/>
    <div id="out"></div>
{% endblock %}