{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script type="text/javascript">
        setTimeout('window.location.reload()', 10 * 1000);
        $(document).ready(function () {
            {#            alert("on call!");#}
            {#            alert($("th[id^=th_no]").text());#}
            for (var i = 0; i < 100; i++) {
                if ($("#log_" + i + "_").text().search("list-manual") > 0) {
                    badge = "列表";
                    badge_color = "green";
                } else if ($("#log_" + i + "_").text().search("detail-manual") > 0) {
                    badge = "详情";
                    badge_color = "blue";
                } else if ($("#log_" + i + "_").text().search("unkownn") > 0) {
                    badge = "未知";
                    badge_color = "orange";
                } else if ($("#log_" + i + "_").text().toLowerCase().search("error") > 0) {
                    badge = "错误";
                    badge_color = "red";
                } else {
                    badge = "系统";
                    badge_color = "gray";
                }
                $("#type_" + i + "_").text(badge);
                $("#type_" + i + "_").css("background-color", badge_color);
            }
        });
    </script>
{% endblock %}

{% block content %}
    {#    <h3 align="center">抓取结果log#}
    {#        <small> 最后100行</small>#}
    {#    </h3>#}
    {#    <hr>#}
    <div id="download" style="margin-left:50px">
        <a class="top-left" href="{{ url_for('static', filename='export/result-list.log') }}">下载列表页&nbsp;实时结果</a>
    </div>
    <hr>
    <div id="server_log_left_div" style="float:left;width:49%; margin-left:10px">
        <table id="server_log_left_tab" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>类别</th>
                <th>行号>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内&nbsp;&nbsp;&nbsp;容</th>
            </tr>
            </thead>
            <tbody>
            {% for log in server_log_list[:50] %}
                <tr style="max-height: 20px;" id={{ 'tr_' ~ loop.index ~ '_' }}>
                    <td><span class="badge pull-left" id={{ 'type_' ~ loop.index ~ '_' }}>XX</span></td>
                    <td nowrap="nowrap" id={{ 'log_' ~ loop.index ~ '_' }}>&nbsp;&nbsp;{{ log }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#        {% for log in server_log_list[:50] %}#}
        {#            <div style="max-height: 20px;margin:0px auto;padding:0px;" id={{ 'div_' ~ loop.index ~ '_' }}>#}
        {#                <label>{{ loop.index }}</label> &nbsp;&nbsp;&nbsp; {{ log }}#}
        {#            </div>#}
        {#        {% endfor %}#}
    </div>
    <div id="server_log_right_div" style="float:right;width:49%; margin-left:10px">
        <table id="server_log_right_tab" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>类别</th>
                <th>行号>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内&nbsp;&nbsp;&nbsp;容</th>
            </tr>
            </thead>
            <tbody>
            {% for log in server_log_list[51:] %}
                <tr style="max-height: 20px;" id={{ 'tr_' ~ (loop.index + 50) ~ '_' }}>
                    <td><span class="badge pull-left" id={{ 'type_' ~ (loop.index + 50) ~ '_' }}>XX</span></td>
                    <td nowrap="nowrap" id={{ 'log_' ~ (loop.index + 50) ~ '_' }}>&nbsp;&nbsp;{{ log }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#        {% for log in server_log_list[51:] %}#}
        {#            <div style="max-height: 20px;margin:0px auto;padding:0px;" id={{ 'div_' ~ loop.index ~ '_' }}>#}
        {#                <label>{{ loop.index + 50 }}</label> &nbsp;&nbsp;&nbsp; {{ log }}#}
        {#            </div>#}
        {#        {% endfor %}#}
    </div>
{% endblock %}