{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='exporting.js') }}"></script>
    <script type="text/javascript">
        setTimeout('window.location.reload()', 10 * 1000);
        $(document).ready(function () {
            {#            alert("on call!");#}
            {#            alert($("th[id^=th_no]").text());#}
            {#            alert($("td[id^=log_1_]").text());#}
            {#            alert($("div[id^=div_1_]").text());#}
            for (var i = 0; i < 100; i++) {
                {#                if ($("td[id^=log_" + i + "_]").text().search("manual") > 0) {#}
                if ($("div[id^=div_" + i + "_]").text().search("list-manual") > 0) {
                    alert_css = "alert alert-success";
                } else if ($("div[id^=div_" + i + "_]").text().search("detail-manual") > 0) {
                    alert_css = "alert alert-info";
                } else if ($("div[id^=div_" + i + "_]").text().search("unkownn") > 0) {
                    alert_css = "alert alert-warning";
                } else {
                    alert_css = "alert";
                }
                $("div[id^=div_" + i + "_]").attr("class", alert_css);
            }
        });
    </script>
{% endblock %}

{% block content %}
    <h3 align="center">抓取结果log
        <small> 最后100行</small>
    </h3>
    <hr>
    <div id="server_log" style="width:100%; margin-left:50px">
        {#        <table id="server_log-tab" class="table table-striped table-hover">#}
        {#        <table id="server_log-tab">#}
        {#            <thead>#}
        {#            <tr>#}
        {#                <th id="th_no">行号</th>#}
        {#                <th id="th_log">内容</th>#}
        {#            </tr>#}
        {#            </thead>#}
        {#            <tbody>#}
        {% for log in server_log_list %}
            <div style="max-height: 20px" id={{ 'div_' ~ loop.index ~ '_' }}>
                <label>{{ loop.index }}</label> &nbsp;&nbsp;&nbsp; {{ log }}
                {#                <tr id={{ 'tr_' ~ loop.index  ~ '_' }}>#}
                {#                    <td id={{ 'no_' ~ loop.index  ~ '_' }}>{{ loop.index }}</td>#}
                {#                    <td id={{ 'log_' ~ loop.index  ~ '_' }}>{{ log }}</td>#}
                {#                </tr>#}
            </div>
        {% endfor %}
        {#    </tbody>#}
        {#    </table>#}
    </div>
{% endblock %}