{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='exporting.js') }}"></script>
    <script type="text/javascript">
        setTimeout('window.location.reload()', 10 * 1000);
        $(function () {
            $('#process-div').highcharts({
                title: {
                    text: '处理过程展示',
                    x: -20 //center
                },
                subtitle: {
                    text: '单位:10秒',
                    x: -20
                },
                xAxis: {
                    categories: {{ times }}
                },
                yAxis: {
                    title: {
                        text: '页数'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '页'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 1
                },
                series: [{
                    name: '详情页数',
                    data: {{ detail_cnt }}
                }, {
                    name: '列表页数',
                    data: {{ list_cnt }}
                }, {
                    name: '列表页(扫描完成数)',
                    data:{{ list_done_cnt }}
                }]
            });
        });

        $(function () {
            $('#dedup-div').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '列表页完成情况'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '完成率',
                    data: [
                        ['完成', {{ matched_rate }}],
                        {
                            name: '未完成',
                            y: {{ un_match_rate }},
                            sliced: true,
                            selected: true
                        }
                    ]
                }]
            });
        });

        $(function () {
            $('#keywords-div').highcharts({
                chart: {
                    type: 'column',
                    margin: [50, 50, 100, 80]
                },
                title: {
                    text: '规则匹配次数统计(详情top5+列表top5)'
                },
                xAxis: {
                    categories: [
                        'No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10'
                    ],
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '匹配次数 (页数)'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '匹配数: <b>{point.y:.1f} 页</b>',
                },
                series: [{
                    name: 'Population',
                    data: [{{ matched_cnt }}],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        x: 4,
                        y: 10,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            textShadow: '0 0 3px black'
                        }
                    }
                }]
            });
        });
    </script>
{% endblock %}

{% block content %}
<h3 align="center">抓取过程展示
    <small> 2分钟之内,列表页数 = 列表页(扫描完成数) 恒定时，抓取结束，可以手工</small><a href="kill">强制终止</a><small>来结束程序。</small>
    <small>累计处理过程绘图清零请点击</small><a href="resetZero">清零</a>
</h3>
<hr/>
<div id="message" class="alert alert-warning form-group center" style="width:80%; margin-left:50px">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <label>{{ message }}</label>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<hr>
<div id="process-div" style="min-width:700px;height:400px"></div>
<hr>
<div id="keywords-div" style="float:left;width:70%;height:300px"></div>
<div id="dedup-div" style="float:right;width:30%;height:300px"></div>
<hr>
<div id="regexs" style="width:40%; margin-left:50px">
    {% for regex in keywords %}
        <label>No.{{ loop.index }}&nbsp;&nbsp;&nbsp;</label>{{ regex }}<br>
    {% endfor %}
</div>
{% endblock %}