{% extends "bootstrap/base.html" %}
{% block content %}
    <div id="refresh_div" style="width:90%;margin-left:10px">
        <a id="refresh" href="show_unkown_urls" class="btn btn-success btn-sm"
           data-toggle="tooltip" title="实时刷新当前抓取结果">实时刷新</a>
        <a id="kill" href="kill_spider" class="btn btn-success btn-sm"
           data-toggle="tooltip" title="结束后台爬虫程序,重新配置规则">强制终止爬虫</a>
    </div>
    <hr style="width:100%;">
    <div id="left_unkown_urls_div" style="float:left;width:49%; margin-left:10px">
        {{ inputForm.list_match.label }}&nbsp;
        {{ inputForm.list_regex_sel(placeholder="--select--",style="width:480px;") }}&nbsp;
        <a id="list_plus_a" href="#list_plus_regex_div" data-toggle="collapse" data-parent="#detail_url_list_div">
            <span class="glyphicon glyphicon-plus"></span>
        </a>&nbsp;
        <a id="list_minus_a" href="#">
            <span class="glyphicon glyphicon-minus"></span>
        </a>&nbsp;
        <div id="list_plus_regex_div" class="panel-collapse collapse">
            <div class="panel-body">
                <input id="list_plus_regex_input" type=text size=65 placeholder="编辑 详情页规则 后，点击 √ 添加。">
                <a id="list_plus_regex_a" href="#"><span class="glyphicon glyphicon-ok"></span></a>
            </div>
        </div>
    </div>
    <div id="right_category_compress_div" style="float:right;width:49%; margin-left:10px">
        {{ inputForm.detail_match.label }}&nbsp;
        {{ inputForm.detail_regex_sel(placeholder="--select--",style="width:480px;") }}&nbsp;
        &nbsp;
        <a id="detail_plus_a" href="#detail_plus_regex_div" data-toggle="collapse"
           data-parent="#detail_url_list_div">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        &nbsp;
        <a id="detail_minus_a" href="#">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        &nbsp;
        <div id="detail_plus_regex_div" class="panel-collapse collapse">
            <div class="panel-body">
                <input id="detail_plus_regex_input" type=text size=65 placeholder="编辑 详情页规则 后，点击 √ 添加。">
                <a id="detail_plus_regex_a" href="#"><span class="glyphicon glyphicon-ok"></span></a>
            </div>
        </div>
    </div>
    <hr style="width:100%;">
    <!-- 表格，统计图形 -->
    {% if inputForm.unkown_url_list|count == 0 %}
        <div id="left" style="width:100%; margin-left:600px"><h2>没有未匹配的URL信息。</h2></div>
    {% else %}
        <!-- 左侧表格 -->
        <div id="left_unkown_urls_div" style="float:left;width:49%; margin-left:10px">
            <table id="unkown_urls_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>当前未匹配URL</th>
                </tr>
                </thead>
                <tbody>
                {% for url in inputForm.unkown_url_list %}
                    <tr style="max-height: 20px;">
                        <td><a id={{ "url_" ~ loop.index }} href="{{ url|safe }}">{{ url|safe }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <table id="category_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>归一化: 数字(999)、去除参数值</th>
                    <th>页数</th>
                </tr>
                </thead>
                <tbody>
                {% for item in inputForm.category_list %}
                    <tr style="max-height: 20px;">
                        <td nowrap="nowrap">{{ item.category|safe }}</td>
                        <td nowrap="nowrap">{{ item.page_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 右侧表格 -->
        <div id="right_keywords_div" style="float:right;width:49%;margin-left:10px;height:410px;"></div>
        <hr>
        <div id="right_category_compress_div" style="float:right;width:49%; margin-left:10px">
            <hr>
            <table id="category_compress_tab" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>归一化: 字母（AAA）、数字(999)、去除参数值</th>
                    <th>页数</th>
                </tr>
                </thead>
                <tbody>
                {% for item in inputForm.category_compress_list %}
                    <tr style="max-height: 20px;">
                        <td nowrap="nowrap">{{ item.category|safe }}</td>
                        <td nowrap="nowrap">{{ item.page_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- DataTables Javascript-->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#unkown_urls_tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='./img/loading.gif' />",
                    "sSearch": "检索（正则）："
                },
                "search": {"regex": true},//开启正则支持
                {#"bStateSave": true, //状态保存,与正则检索矛盾#}
                "bProcessing": true,
                "bSort": true, //排序功能
                "bFilter": true,
                "bLengthChange": false,
                "scrollY": "300px"
            });
            $('#category_tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='./img/loading.gif' />",
                    "sSearch": "检索（正则）："
                },
                "search": {"regex": true},//开启正则支持
                {#"bStateSave": true, //状态保存,与正则检索矛盾#}
                "bProcessing": true,
                "bSort": true, //排序功能
                "bFilter": true,
                "bLengthChange": false,
                "scrollY": "220px"
            });
            $('#category_compress_tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='./img/loading.gif' />",
                    "sSearch": "检索（正则）："
                },
                "search": {"regex": true},//开启正则支持
                {#"bStateSave": true, //状态保存,与正则检索矛盾#}
                "bProcessing": true,
                "bSort": true, //排序功能
                "bFilter": true,
                "bLengthChange": false,
                "scrollY": "220px"
            });
        });
        $(function () {
            $('#right_keywords_div').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '未匹配URL中的主要关键词'
                },
                subtitle: {
                    text: '覆盖超过80%'
                },
                xAxis: {
                    categories: [{{ inputForm.keywords_str|safe }}],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '次',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' 次'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: '#FFFFFF',
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: '次数',
                    data: [{{ inputForm.keywords_matched_cnt }}]
                }]
            });
        });
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
{% endblock %}