<html>
<header>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type"/>
    <h1>test</h1>
</header>
<body>
<div id="content">
    <p>   1234567890 1234567890 1234567890 1234567890 1234567890 1234567890   </p>
    <p>   1234567890 1234567890 1234567890 1234567890                         </p>
    <a href="bbb">1234567890</a></div>

<div id="div1">
    <div id="div11" class="level2">
        <a href="aaa">
            SAMSUNG S7 WHITE
            <img src="http://news.k618.cn/jhtj/201606/W020160616294319991663.jpg">
        </a>
    </div>
</div>

<div id="div2">
    <div id="div21" class="level2">
        <a href="aaa">
            HUAWEI P9 GRAY
            <img src="http://news.k618.cn/pic/tysj/201606/W020160616538583124604.jpg">
        </a>
    </div>
</div>
<div class="footer">footer</div>
</body>
<footer>footer</footer>
</html>
