{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-result-tab').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sZeroRecords": "没有检索到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src='./img/loading.gif' />"
                },
                "bFilter": false,
                "bLengthChange": true,
                "aLengthMenu": [10, 20, 50]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h3 align="center">配置信息-历史记录</h3>
    <hr/>
    <div id="message" class="alert alert-warning form-group center" style="width:80%; margin-left:50px">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <label>{{ message }}</label>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div id="search-cond-div" class="form-group center" style="width:80%; margin-left:50px">
        <form id="search-cond" method="POST" action="/user_search">
            <label>用户ID&nbsp; {{ user_id }}&nbsp;&nbsp;&nbsp;</label>
            {{ inputForm.start_url.label }}&nbsp; {{ inputForm.start_url(size=20) }}
            {{ inputForm.start_url_sel.label }}&nbsp; {{ inputForm.start_url_sel() }}
            {{ inputForm.download() }}
            {{ inputForm.site_domain.label }}&nbsp; {{ inputForm.site_domain(size=20) }}
            {{ inputForm.search() }}
{#            {{ inputForm.recover() }}#}
        </form>
    </div>
    <hr/>
    <div id="search-result" class="form-group" style="width:80%; margin-left:50px">
{#        <label for="name">查询结果</label><br>#}
        <table id="search-result-tab" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>主页</th>
                <th>限定域名</th>
                 <th>域名黑名单</th>
                <th>分类</th>
                <th>正则表达式</th>
                <th>权重</th>
            </tr>
            </thead>
            <tbody>
            {% for row in outputForm.search_result_list %}
                <tr id={{ loop.index }}>
                    <td>{{ row['start_url'] }}</td>
                    <td>{{ row['site_domain'] }}</td>
                    <td>{{ row['black_domain_str'] }}</td>
                    <td>{{ row['detail_or_list'] }}</td>
                    <td>{{ row['regex'] }}</td>
                    <td>{{ row['weight'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}