{#{% extends "main.html" %}#}
{% autoescape None %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <!-- jquery -->
    <script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- 日期选择插件 -->
    <link href="http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <!-- 高德地图 -->
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.3&key=0c7fb71b2e13546416337666cd406db3&plugin=AMap.Autocomplete"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript" src='static/js/lbsInfo.js'></script>
    <script type="text/javascript" src='static/js/userArea.js'></script>
    <!-- self css -->
    <link rel="stylesheet" href="{{ static_url("css/search_result.css") }}"/>
    <title>微信-周围的人</title>
</head>

{% block body %}
<style type="text/css">
    option.imagebacked {
        padding: 2px 0 2px 20px;
        background-repeat: no-repeat;
        background-position: 1px 2px;
        vertical-align: middle;
    }
</style>

<!-- 反 微信防盗链  -->
{% set pre_url = "http://read.html5.qq.com/image?src=forum&q=5&r=0&imgflag=7&imageUrl=" %}

{#<div id="sns">#}
{#	{% for sns in sns_info_list %}#}
{# 	 	{{ modules.SnsInfo(sns) }}#}
{#	{% end %}#}
{#</div>#}

<!-- 左侧检索栏  -->
<div id="filter_div" style="float:left;width:200px; margin-left:50px">
    <h3>共有<span id="total">{{ total }}</span>条微信</h3>
    <hr>
    <div class="form-group row">
        <h4>发布时间</h4>
        <div class='input-group date' id='datetimepickerStart'>
            <input id="timeStart" type='text' class="form-control" placeholder="起始时间"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div class='input-group date' id='datetimepickerEnd'>
            <input id="timeEnd" type='text' class="form-control" placeholder="截止时间"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <br>
        <div>
            <h4>信息采集位置</h4>
            <input id="filter_lnglat" name="x_y" type="text" size="28" readonly="true" placeholder="地图点击位置的经纬度">
            <input id="address" type="text" size="28" readonly="true" placeholder="经纬度转化为地址">
            <br><br>
            <input name="distance" type="text" size="28" placeholder="请设定距离限定条件（km）">
        </div>
        <br>
        <div>
            <h4>发布人</h4>
            <select id="authors" class="form-control">
                <option value="all">--- all ---</option>
                {% for author in authors_list %}
                <option value="{{ author }}">{{ author }}</option>
                {% end %}
            </select>
        </div>
        <br>
        <div class="checkbox">
            <label>
                <input id="hasPic" type="checkbox">仅显示有图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <input id="submit" type="submit" class="btn btn-primary btn-sm" value="检索"/>
        </div>
    </div>
</div>

<!-- 中间 微信信息展示栏  -->
<div id="sns_info_div" style="float:left;width:800px; margin-left:20px" class="col-sm-9">
    <div style="height: 50px;alignment: center">
        <ul class="pager">
            <li>
                <a id="firstPage" onclick="pagging(this)">首页</a>
            </li>
            <li>
                <a id="prePage" onclick="pagging(this)">上一页</a>
            </li>
            <li id="currentPage">{{ current }}</li>
            <li>
                <a id="nextPage" onclick="pagging(this)">下一页</a>
            </li>
            <li>
                <a id="lastPage" onclick="pagging(this)">末页</a>
            </li>
        </ul>
    </div>
    <table id="sns_info_tab" class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for sns_info in sns_info_list %}
        <tr style="border: 1px solid #ccc;">
            <td>
                <div class="sns_left">
                    <img src="static/images/weixin_logo.png" class="sns_author_logo img-rounded"/>
                </div>
            </td>
            <td>
                <div class="sns_right">
                    <div class="sns_author row clearfix">
                        {{ sns_info["authorName"] }}
                    </div>

                    <div class="sns_content row clearfix">
                        <small>{% raw sns_info["content"] %}</small>
                    </div>

                    <div class="pull-left sns_image_list row clearfix">
                        {% for url in sns_info["mediaList"] %}
                        <img src="{{ pre_url + url }}" class="media img-rounded sns_image"/>
                        {% end %}
                    </div>

                    <div class="sns_timeLocation row clearfix">
                        <h6><span class="glyphicon glyphicon-time"></span>&nbsp;
                            {{ sns_info["ago_days"] }}&nbsp;
{#                            {{ datetime.datetime.utcfromtimestamp(sns_info["timestamp"]).strftime("%Y-%m-%d %H:%M:%S") }}#}
                            &nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-screenshot"></span>&nbsp;
                            {{ sns_info["poi_address"] }}
                        </h6>
                    </div>

                    {% if len(sns_info["likes"])>0 %}
                    <div class="sns_comments row clearfix">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        {% for comment in sns_info["likes"] %}
                        <small>&nbsp;&nbsp;{{ comment['userName'] }}</small>
                        {% end %}
                    </div>
                    {% end %}

                    {% if len(sns_info["comments"])>0 %}
                    <div class="sns_comments row clearfix">
                        {% for comment in sns_info["comments"] %}
                        <h4>{{ comment['authorName'] }} :
                            <small>&nbsp;&nbsp;{{ comment['content'] }}</small>
                        </h4>
                        {% end %}
                    </div>
                    {% end %}

                </div>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>

<!-- 右侧 地图展示栏  -->
<div id="map_title" style="float:left;width:700px; height:60px; margin-top:0px;margin-left:10px;">
    <h3>信息采集位置信息</h3>
    <hr>
</div>
<!-- 右上 地图坐标栏  -->
<div id="myPageTop" style="margin-right:140px;margin-top:5px">
    <table>
        <tr>
            <td>
                <label>位置搜索：</label>
            </td>
            <td class="column2">
                <label>经度, 纬度：</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="search_address" type="text" placeholder="请输入要查询的地址">
            </td>
            <td class="column2">
                <input id="lnglat" type="text" readonly="true" placeholder="地图点击位置的经纬度">
            </td>
        </tr>
    </table>
</div>
<div id="map_div" style="float:left;width:700px; height:800px; margin-top:10px;margin-left:10px;" class="map"
     tabindex="0">
    <h1>地图加载后，会覆盖该区域。</h1>
</div>
{% end %}


<script src="{{ static_url("js/script.js") }}"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepickerStart').datetimepicker({
            format: 'YYYY-MM-DD',//日期格式化，只显示日期
            locale: 'zh-CN'      //中文化
        });
    });
    $('#datetimepickerEnd').datetimepicker({
        format: 'YYYY-MM-DD',//日期格式化，只显示日期
        locale: 'zh-CN'      //中文化
    });
    //------------------------------------------------------------------------------
    $("#submit").click(function () {
        var authors = $('#authors').val();
        //alert(authors);
        $.ajax({
            url: '/around?init=false',
            type: 'post',
            //dataType: 'json', //不能使用否则server无法取值
            //contentType: "application/json; charset=UTF-8",
            data: {
                authors: authors,
                timeStart: $('#timeStart').val(),
                timeEnd: $('#timeEnd').val(),
                hasPic: $('#hasPic').is(':checked')
            },
            error: function (xhr, err) {
                alert(err);
            },
            success: function (data, textStatus) {
                $("#currentPage").text(data["currentPage"]);
                $("#total").text(data["total"]);
                $("#sns_info_tab").remove();
                $("#sns_info_div").append(data["html"]);
            }
        });
    });
    //-----------------------------------------------------------------------------
    function pagging(obj) {
        var idStr = $(obj).attr('id');
        var action = idStr.substr(0, idStr.length - 4);
        $.ajax({
            url: '/around?init=false&action=' + action,
            type: 'get',
            {#dataType: 'json',#}
            contentType: "application/json; charset=UTF-8",
            error: function (xhr, err) {
                alert(err);
            },
            success: function (data, textStatus) {
                $("#currentPage").text(data["currentPage"]);
                $("#total").text(data["total"]);
                $("#sns_info_tab").remove();
                $("#sns_info_div").append(data["html"]);
            }
        });
    }
    //-------------------------------------------------------------------------------
    var district, map = new AMap.Map('map_div', {
        layers: [new AMap.TileLayer({
            textIndex: 2
        })],
        zIndex: 2,
        //zoom: 10,
        {#center: [116.486409, 39.921489],#}
        resizeEnable: true
    });
    //-------------------------------------------------------------------------------
    addBeiJing();

    function addBeiJing() {
        //加载行政区划插件
        AMap.service('AMap.DistrictSearch', function () {
            var opts = {
                subdistrict: 1,   //返回下一级行政区
                extensions: 'all',  //返回行政区边界坐标组等具体信息
                level: 'city'  //查询行政级别为 市
            };
            //实例化DistrictSearch
            district = new AMap.DistrictSearch(opts);
            district.setLevel('district');
            //行政区查询
            district.search(userArea, function (status, result) {
                var bounds = result.districtList[0].boundaries;
                var polygons = [];
                if (bounds) {
                    for (var i = 0, l = bounds.length; i < l; i++) {
                        //生成行政区划polygon
                        var polygon = new AMap.Polygon({
                            map: map,
                            strokeWeight: 2,
                            path: bounds[i],
                            fillOpacity: 0.2,
                            //fillColor: '#CCF3FF',
                            strokeColor: '#CC66CC'
                        });
                        polygons.push(polygon);
                    }
                    //map.setFitView();//地图自适应
                }
            });
        });
    }
    //-------------------------------------------------------------------------------
    //为地图注册click事件获取鼠标点击出的经纬度坐标
    var clickEventListener = map.on('click', function (e) {
        x = e.lnglat.getLng();
        y = e.lnglat.getLat();
        document.getElementById("lnglat").value = x + ',' + y;
        document.getElementById("filter_lnglat").value = x + ',' + y;

        $.ajax({
            url: '/convert_xy_to_address?y_x=' + y + '_' + x,
            type: 'get',
            contentType: "application/json; charset=UTF-8",
            {# dataType: 'json',#}
            {# data: {"x": x, "y": y},#}
            error: function (xhr, err) {
                alert(err);
            },
            success: function (data, textStatus) {
                document.getElementById("address").value = data;
                alert(data + " 周围发现 100 人。")
            }
        });
    });
    //-------------------------------------------------------------------------------
    // 输入位置搜索框，选择地址
    var auto = new AMap.Autocomplete({
        input: "search_address"
    });
    AMap.event.addListener(auto, "select", select); //注册监听，当选中某条记录时会触发
    function select(e) {
        if (e.poi && e.poi.location) {
            map.setZoom(15);
            map.setCenter(e.poi.location);
        }
    }
    //-------------------------------------------------------------------------------
    var circle = new AMap.Circle({
        center: new AMap.LngLat("116.316405", "39.977629"),// 圆心位置
        radius: 200000, //半径 200km
        strokeColor: "#F33", //线颜色
        strokeOpacity: 9, //线透明度
        strokeWeight: 1, //线粗细度
        fillColor: "#ee2200", //填充颜色
        fillOpacity: 0.10//填充透明度
    });
    {#circle.setMap(map);#}
    //-------------------------------------------------------------------------------
    var mass = new AMap.MassMarks(lbsInfo, {
        url: 'http://webapi.amap.com/theme/v1.3/markers/n/mark_r.png',
        anchor: new AMap.Pixel(3, 7),
        size: new AMap.Size(10, 14),
        opacity: 0.7,
        cursor: 'pointer',
        zIndex: 1
    });
    var marker = new AMap.Marker({
        content: ' ',
        map: map
    });
    mass.on('mouseover', function (e) {
        marker.setPosition(e.data.lnglat);
        marker.setLabel({content: e.data.name})
    });
    mass.setMap(map);
    //---------限制区域----------------------------------------------------------------
{#    map.setLimitBounds(map.getBounds());#}
{#    function getLimitBounds() {#}
{#        var limitBounds = map.getLimitBounds();#}
{#        if (limitBounds) {#}
{#            var tip = [];#}
{#            tip.push('限制区域：\n西南坐标[' + limitBounds.southwest.lng + ',' + limitBounds.southwest.lat + ']\n')#}
{#            tip.push('东北坐标[' + limitBounds.northeast.lng + ',' + limitBounds.northeast.lat + ']')#}
{#            alert(tip.join(''));#}
{#        } else {#}
{#            alert('未设置限制区域');#}
{#        }#}
{#    }#}
</script>
</html>


