{#{% extends "main.html" %}#}
{% autoescape None %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <!-- jquery -->
    <script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- 日期选择插件 -->
    <link href="http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <!-- self css -->
    <link rel="stylesheet" href="{{ static_url("css/search_result.css") }}"/>
    <title>微信-朋友圈</title>
</head>

{% block body %}
<style type="text/css">
    option.imagebacked {
        padding: 2px 0 2px 20px;
        background-repeat: no-repeat;
        background-position: 1px 2px;
        vertical-align: middle;
    }
</style>

<!-- 反 微信防盗链  -->
{% set pre_url = "http://read.html5.qq.com/image?src=forum&q=5&r=0&imgflag=7&imageUrl=" %}
{#{% set pre_url = "" %}#}

{#<div id="sns">#}
{#	{% for sns in sns_info_list %}#}
{# 	 	{{ modules.SnsInfo(sns) }}#}
{#	{% end %}#}
{#</div>#}

<!-- 左侧检索栏  -->
<div id="filter_div" style="float:left;width:200px; margin-left:50px">
    <div class="form-group row">
        <form role="form" action="/friends" method="post">
            <h1>共有 {{ len(sns_info_list) }} 条</h1>
            <br>
            <br>
            <h4>选择朋友圈</h4>
            <select name="authors" multiple class="form-control">
                {% for friends in friends_list %}
                <option value="{{ friends }}">{{ friends }}</option>
                {% end %}
            </select>
        </form>
    </div>
</div>

<!-- 中间 微信信息展示栏  -->
<div id="sns_info_div" style="width:800px; margin-left:50px;margin-top:20px" class="col-sm-9">
    <div style="width:200px;float:left" class='input-group date' id='datetimepickerStart'>
        <input type='text' id="timeStart" class="form-control" placeholder="起始时间"/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <div style="width:200px;float:left" class='input-group date' id='datetimepickerEnd'>
        <input type='text' id="timeEnd" class="form-control" placeholder="截止时间"/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
{#     <input type="datetime-local" name="bdaytime">#}
    <div class="checkbox" style="float:right">
        <label>
            <input id="hasPic" type="checkbox">有图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="hasLikes" type="checkbox">有点赞&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="hasComments" type="checkbox">有回复&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <input id="submit" type="submit" class="btn btn-primary btn-sm" value="检索"/>
    </div>
    <table id="sns_info_tab" class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for sns_info in sns_info_list %}
        <tr style="border: 1px;">
            <td>
                <div class="sns_left" style="padding-top:0;">
                    <img src="static/images/weixin_logo.png" class="sns_author_logo img-rounded"/>
                </div>
            </td>
            <td>
                <div class="sns_right">
                    <div class="sns_author row clearfix">
                        {{ sns_info["authorName"] }}
                    </div>
                    <div class="sns_content row clearfix">
                        <small>{% raw sns_info["content"] %}</small>
                    </div>
                    <div class="pull-left sns_image_list row clearfix">
                        {% for url in sns_info["mediaList"] %}
                        <img src="{{ pre_url + url }}" class="media img-rounded sns_image"/>
                        {% end %}
                    </div>
                    <div class="sns_timeLocation row clearfix">
                        <h6><span class="glyphicon glyphicon-time"></span>
                            {#{{ datetime.datetime.utcfromtimestamp(sns_info["timestamp"]).strftime("%Y-%m-%d %H:%M:%S") }}#}
                            {{ sns_info["ago_days"] }}
                            &nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-screenshot"></span>&nbsp;
                            {{ sns_info["poi_address"] }}
                        </h6>
                    </div>
                    {% if len(sns_info["likes"])>0 %}
                    <div class="sns_comments row clearfix">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        {% for comment in sns_info["likes"] %}
                        <small>&nbsp;&nbsp;{{ comment['userName'] }}</small>
                        {% end %}
                    </div>
                    {% end %}
                    {% if len(sns_info["comments"])>0 %}
                    <div class="sns_comments row clearfix">
                        {% for comment in sns_info["comments"] %}
                        <h4>{{ comment['authorName'] }} :
                            <small>&nbsp;&nbsp;{{ comment['content'] }}</small>
                        </h4>
                        {% end %}
                    </div>
                    {% end %}
                </div>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}


<script src="{{ static_url("js/script.js") }}"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepickerStart').datetimepicker({
            format: 'YYYY-MM-DD',//日期格式化，只显示日期
            locale: 'zh-CN'      //中文化
        });
        $('#datetimepickerEnd').datetimepicker({
            format: 'YYYY-MM-DD',//日期格式化，只显示日期
            locale: 'zh-CN'      //中文化
        });
    });

    $('#submit').click(function () {
        $.ajax({
            url: '/friends',
            type: 'post',
            //dataType: 'json', //不能使用否则server无法取值
            //contentType: "application/json; charset=UTF-8",
            data: {
                timeStart: $('#timeStart').val(),
                timeEnd: $('#timeEnd').val(),
                hasPic: $('#hasPic').is(':checked'),
                hasComments: $('#hasComments').is(':checked'),
                hasLikes: $('#hasLikes').is(':checked')
            },
            error: function (xhr, err) {
                alert(err);
            },
            success: function (data, textStatus) {
                $("#sns_info_tab").remove();
                $("#sns_info_div").append(data);
            }
        });
    });

    $(document).ready(function () {
        $('#sns_info_tab11').DataTable({
            {#"sDom":'<"top"iflp<"clear">>rt<"bottom"<"clear"><t<“span12 center”p>>>',#}
            "oLanguage": {
                "sLengthMenu": "每页 _MENU_ 条",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                "sInfoEmpty": "共 0 条",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有数据 。。。",
                "sProcessing": "<img src='/static/images/loading.gif'/>",
                "sSearch": "内容检索："
            },
            "oSearch": {"sSearch": "", "bRegex": true, "bSmart": true},
            "info": true,
            "row-border": "2px",
            "searching": true,
            "processing": true,
            "search": {"regex": true},//开启正则支持
            {#"bStateSave": true, //状态保存,与正则检索矛盾#}
            "bFilter": true,
            "bLengthChange": true,
            "aLengthMenu": [5, 15, 30],
            "scrollY": "800px",
            {#"bScrollCollapse": true,#}
            "aaSorting": [[0, "desc"]]
        });
    });
</script>

</html>


