{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} article list {% endblock %}
{% block content %}
    <div class="col-xs-12" style="margin-left: 100px;margin-top: 100px;width: 80%">
        {{ article['id'] }}
        {{ article['title'] }}
        {{ article['content'] }}
        {{ article['image'] }}
        {{ article['create_at'] }}
    </div>
    <div class="col-xs-12">
        <table class="table" style="margin-left: 100px;margin-top: 100px;width: 80%">
            <thead>
            <tr>
                <th>id</th>
                <th>user_name</th>
                <th>comment</th>
                <th>create_at</th>
                <th>article_id</th>
            </tr>
            </thead>
            {% for info in detail %}
                <tr>
                    <td>{{ info['id'] }}</td>
                    <td>{{ info['user_name'] }}</td>
                    <td>{{ info['comment'] }}</td>
                    <td>{{ info['create_at'] }}</td>
                    <td>{{ info['article_id'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
