{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} post article {% endblock %}
{% block content %}
    <div style="margin-left: 100px;margin-top: 100px;width: 80%">
        <form method="POST">
{#            {{ wtf.quick_form(form) }}#}
            <form action="postArticle" method="post" enctype="multipart/form-data">
                {{ form.id() }}
                {{ form.userName() }}
                {{ form.title() }}
                {{ form.content() }}

                <input type="file" class="input-large" style="height:30px;" name="file" value="选择文件"/>
                <br>
                <input type="submit" value="上传图片" class="btn"/>
            </form>
        </form>
    </div>
{% endblock %}
