<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bugs status change</title>
    <script src="/static/jquery.js"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {request.script_root | tojson | safe};
    </script>
    <script type=text/javascript>
        $(document).ready(function () {
            $("table").click(function () {
                var firstTr = $("#tab_34").find("tbody>tr:first");
                alert($("#tab_34").nodeName);
                alert(this.lastChild.nodeName);
                alter(this.lastChild.getElementById("td_m_34"));
                alter(this.lastChild.find("tr:first").find("td:last"));
            });
        });
    </script>
</head>
<body>

<div id="div_34" style="width:50%">
    <table id="tab_34" border="1" align="left" bgcolor="#7fffd4" style="text-align:center;margin:2px;">
        <tr>
            <td><b>34</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_34_1">songyq</td>
            
            <td id="td_m_34_2">songyq</td>
            
            <td id="td_m_34_3">zhangr</td>
            
            <td id="td_m_34_4">wanglj</td>
            
            <td id="td_m_34_5">songyq</td>
            
            <td id="td_m_34_6">wanglj</td>
            
            <td id="td_m_34_7">songyq</td>
            
            <td id="td_m_34_8">zhangr</td>
            
        </tr>
        <tr>
            <td><b>34</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_34_1">NEW→RESOLVED</td>
            
            <td id="td_c_34_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_34_3">VERIFIED→REOPENED</td>
            
            <td id="td_c_34_4">REOPENED→RESOLVED</td>
            
            <td id="td_c_34_5">RESOLVED→REOPENED</td>
            
            <td id="td_c_34_6">REOPENED→RESOLVED</td>
            
            <td id="td_c_34_7">RESOLVED→VERIFIED</td>
            
            <td id="td_c_34_8">VERIFIED→CLOSED</td>
            
        </tr>
        <tr>
            <td><b>34</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_34_1">2015-10-10</td>
            
            <td id="td_t_34_2">2015-10-10</td>
            
            <td id="td_t_34_3">2015-10-13</td>
            
            <td id="td_t_34_4">2015-10-22</td>
            
            <td id="td_t_34_5">2015-10-24</td>
            
            <td id="td_t_34_6">2015-10-30</td>
            
            <td id="td_t_34_7">2015-11-03</td>
            
            <td id="td_t_34_8">2015-11-18</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_35" style="width:50%">
    <table id="tab_35" border="1" align="left" bgcolor="#87ceeb" style="text-align:center;margin:2px;">
        <tr>
            <td><b>35</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_35_1">songyq</td>
            
            <td id="td_m_35_2">songyq</td>
            
            <td id="td_m_35_3">zhangr</td>
            
            <td id="td_m_35_4">wanglj</td>
            
            <td id="td_m_35_5">songyq</td>
            
        </tr>
        <tr>
            <td><b>35</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_35_1">NEW→RESOLVED</td>
            
            <td id="td_c_35_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_35_3">VERIFIED→REOPENED</td>
            
            <td id="td_c_35_4">REOPENED→RESOLVED</td>
            
            <td id="td_c_35_5">RESOLVED→VERIFIED</td>
            
        </tr>
        <tr>
            <td><b>35</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_35_1">2015-10-10</td>
            
            <td id="td_t_35_2">2015-10-10</td>
            
            <td id="td_t_35_3">2015-10-13</td>
            
            <td id="td_t_35_4">2015-10-22</td>
            
            <td id="td_t_35_5">2015-10-24</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_36" style="width:50%">
    <table id="tab_36" border="1" align="left" bgcolor="#7fffd4" style="text-align:center;margin:2px;">
        <tr>
            <td><b>36</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_36_1">songyq</td>
            
            <td id="td_m_36_2">songyq</td>
            
            <td id="td_m_36_3">zhangr</td>
            
            <td id="td_m_36_4">wanglj</td>
            
            <td id="td_m_36_5">songyq</td>
            
            <td id="td_m_36_6">wanglj</td>
            
            <td id="td_m_36_7">songyq</td>
            
            <td id="td_m_36_8">zhangr</td>
            
        </tr>
        <tr>
            <td><b>36</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_36_1">NEW→RESOLVED</td>
            
            <td id="td_c_36_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_36_3">VERIFIED→REOPENED</td>
            
            <td id="td_c_36_4">REOPENED→RESOLVED</td>
            
            <td id="td_c_36_5">RESOLVED→REOPENED</td>
            
            <td id="td_c_36_6">REOPENED→RESOLVED</td>
            
            <td id="td_c_36_7">RESOLVED→VERIFIED</td>
            
            <td id="td_c_36_8">VERIFIED→CLOSED</td>
            
        </tr>
        <tr>
            <td><b>36</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_36_1">2015-10-10</td>
            
            <td id="td_t_36_2">2015-10-10</td>
            
            <td id="td_t_36_3">2015-10-13</td>
            
            <td id="td_t_36_4">2015-10-22</td>
            
            <td id="td_t_36_5">2015-10-24</td>
            
            <td id="td_t_36_6">2015-10-30</td>
            
            <td id="td_t_36_7">2015-11-02</td>
            
            <td id="td_t_36_8">2015-11-18</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_37" style="width:50%">
    <table id="tab_37" border="1" align="left" bgcolor="#87ceeb" style="text-align:center;margin:2px;">
        <tr>
            <td><b>37</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_37_1">songyq</td>
            
            <td id="td_m_37_2">songyq</td>
            
            <td id="td_m_37_3">zhangr</td>
            
            <td id="td_m_37_4">wanglj</td>
            
            <td id="td_m_37_5">songyq</td>
            
            <td id="td_m_37_6">wanglj</td>
            
            <td id="td_m_37_7">songyq</td>
            
            <td id="td_m_37_8">songyq</td>
            
        </tr>
        <tr>
            <td><b>37</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_37_1">NEW→RESOLVED</td>
            
            <td id="td_c_37_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_37_3">VERIFIED→REOPENED</td>
            
            <td id="td_c_37_4">REOPENED→RESOLVED</td>
            
            <td id="td_c_37_5">RESOLVED→REOPENED</td>
            
            <td id="td_c_37_6">REOPENED→RESOLVED</td>
            
            <td id="td_c_37_7">RESOLVED→VERIFIED</td>
            
            <td id="td_c_37_8">VERIFIED→REOPENED</td>
            
        </tr>
        <tr>
            <td><b>37</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_37_1">2015-10-10</td>
            
            <td id="td_t_37_2">2015-10-10</td>
            
            <td id="td_t_37_3">2015-10-13</td>
            
            <td id="td_t_37_4">2015-10-22</td>
            
            <td id="td_t_37_5">2015-10-24</td>
            
            <td id="td_t_37_6">2015-10-30</td>
            
            <td id="td_t_37_7">2015-11-02</td>
            
            <td id="td_t_37_8">2015-12-07</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_38" style="width:50%">
    <table id="tab_38" border="1" align="left" bgcolor="#7fffd4" style="text-align:center;margin:2px;">
        <tr>
            <td><b>38</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_38_1">chenzy</td>
            
            <td id="td_m_38_2">songyq</td>
            
            <td id="td_m_38_3">zhangr</td>
            
            <td id="td_m_38_4">chenzy</td>
            
            <td id="td_m_38_5">songyq</td>
            
        </tr>
        <tr>
            <td><b>38</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_38_1">NEW→RESOLVED</td>
            
            <td id="td_c_38_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_38_3">VERIFIED→REOPENED</td>
            
            <td id="td_c_38_4">REOPENED→RESOLVED</td>
            
            <td id="td_c_38_5">RESOLVED→CLOSED</td>
            
        </tr>
        <tr>
            <td><b>38</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_38_1">2015-10-10</td>
            
            <td id="td_t_38_2">2015-10-12</td>
            
            <td id="td_t_38_3">2015-10-13</td>
            
            <td id="td_t_38_4">2015-10-30</td>
            
            <td id="td_t_38_5">2015-10-30</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_39" style="width:50%">
    <table id="tab_39" border="1" align="left" bgcolor="#87ceeb" style="text-align:center;margin:2px;">
        <tr>
            <td><b>39</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_39_1">wanglj</td>
            
            <td id="td_m_39_2">songyq</td>
            
            <td id="td_m_39_3">zhangr</td>
            
            <td id="td_m_39_4">wanglj</td>
            
            <td id="td_m_39_5">songyq</td>
            
        </tr>
        <tr>
            <td><b>39</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_39_1">NEW→RESOLVED</td>
            
            <td id="td_c_39_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_39_3">VERIFIED→REOPENED</td>
            
            <td id="td_c_39_4">REOPENED→RESOLVED</td>
            
            <td id="td_c_39_5">RESOLVED→VERIFIED</td>
            
        </tr>
        <tr>
            <td><b>39</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_39_1">2015-10-30</td>
            
            <td id="td_t_39_2">2015-11-02</td>
            
            <td id="td_t_39_3">2015-11-14</td>
            
            <td id="td_t_39_4">2015-11-19</td>
            
            <td id="td_t_39_5">2015-11-25</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_40" style="width:50%">
    <table id="tab_40" border="1" align="left" bgcolor="#7fffd4" style="text-align:center;margin:2px;">
        <tr>
            <td><b>40</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_40_1">mac</td>
            
            <td id="td_m_40_2">songyq</td>
            
            <td id="td_m_40_3">zhangr</td>
            
        </tr>
        <tr>
            <td><b>40</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_40_1">NEW→RESOLVED</td>
            
            <td id="td_c_40_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_40_3">VERIFIED→CLOSED</td>
            
        </tr>
        <tr>
            <td><b>40</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_40_1">2015-10-10</td>
            
            <td id="td_t_40_2">2015-10-12</td>
            
            <td id="td_t_40_3">2015-10-13</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_41" style="width:50%">
    <table id="tab_41" border="1" align="left" bgcolor="#87ceeb" style="text-align:center;margin:2px;">
        <tr>
            <td><b>41</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_41_1">mac</td>
            
            <td id="td_m_41_2">songyq</td>
            
            <td id="td_m_41_3">zhangr</td>
            
        </tr>
        <tr>
            <td><b>41</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_41_1">NEW→RESOLVED</td>
            
            <td id="td_c_41_2">RESOLVED→VERIFIED</td>
            
            <td id="td_c_41_3">VERIFIED→CLOSED</td>
            
        </tr>
        <tr>
            <td><b>41</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_41_1">2015-10-10</td>
            
            <td id="td_t_41_2">2015-10-12</td>
            
            <td id="td_t_41_3">2015-10-13</td>
            
        </tr>
    </table>
</div>
<br>

<div id="div_42" style="width:50%">
    <table id="tab_42" border="1" align="left" bgcolor="#7fffd4" style="text-align:center;margin:2px;">
        <tr>
            <td><b>42</b></td>
            <td><b>member</b></td>
            
            <td id="td_m_42_1">mac</td>
            
            <td id="td_m_42_2">songyq</td>
            
            <td id="td_m_42_3">songyq</td>
            
            <td id="td_m_42_4">songyq</td>
            
            <td id="td_m_42_5">zhangr</td>
            
        </tr>
        <tr>
            <td><b>42</b></td>
            <td><b>changeTo</b></td>
            
            <td id="td_c_42_1">NEW→RESOLVED</td>
            
            <td id="td_c_42_2">RESOLVED→REOPENED</td>
            
            <td id="td_c_42_3">REOPENED→RESOLVED</td>
            
            <td id="td_c_42_4">RESOLVED→VERIFIED</td>
            
            <td id="td_c_42_5">VERIFIED→CLOSED</td>
            
        </tr>
        <tr>
            <td><b>42</b></td>
            <td><b>time</b></td>
            
            <td id="td_t_42_1">2015-10-10</td>
            
            <td id="td_t_42_2">2015-10-12</td>
            
            <td id="td_t_42_3">2015-10-12</td>
            
            <td id="td_t_42_4">2015-10-12</td>
            
            <td id="td_t_42_5">2015-10-13</td>
            
        </tr>
    </table>
</div>
<br>

</body>
</html>






    
    
    
        
        
        
        
        
        
    
    

