{% extends 'base_backend.html' %}
{% load static admin_static i18n %}
{% load backend_admin_filtets %}

{% block header_tail %}
    <link rel="stylesheet" href="{% static 'backend/backend_admin/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <div>
        <div class="box-header with-border">
            <h3 class="box-title">{{ model_verbose_name }}查询</h3>
        </div>
        <!-- form start -->
        <div class="box box-primary">
            <div class="box-header">
                {% if delete_perm_verify %}
                    <button class="btn " id="model_delete"><a href="#">删除{{ model_verbose_name }}</a></button>
                {% endif %}
            </div>
            <div class="box-body">
                <form id="model_form" role="form"
                      action="{% url 'backend_admin:model_object_delete' app_label model_name %}"
                      method="post">{% csrf_token %}

                    <div class="group">

                        <table id="config_each_table" border="1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="action-checkbox"><input type="checkbox" name="th_checkbox"></th>
                                {% for field in model_list_fields %}
                                    <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in topics.object_list %}
                                <tr>
                                    <td class="action-checkbox"><input type="checkbox" name="td_checkbox"
                                                                       value="{{ result.id }}"></td>

                                    <td><a href="{% url 'config:change_config' item.id %}">{{ item.id }}</a></td>
                                    <td>{{ item.webname }}</td>
                                    <td>{{ item.url }}</td>
                                    <td>{{ item.savename }}</td>
                                    <td>{{ item.author }}</td>
                                    <td>{{ item.savetime }}</td>


                                    <td>
                                        {% if perms.backend_admin.begin_config %}
                                            启动
                                        {% endif %}
                                        {% if perms.backend_admin.view_config_detail %}
                                            | 详情
                                        {% endif %}
                                        {% if perms.backend_admin.delete_config %}
                                            | 删除
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p>
                            {% if topics.has_previous %}
                                <a href="?page={{ topics.previous_page_number }}">Previous</a>
                            {% endif %}
                            Page {{ topics.number }} of {{ topics.paginator.num_pages }}
                            {% if topics.has_next %}
                                <a href="?page={{ topics.next_page_number }}">Next</a>
                            {% endif %}
                        </p>
                    </div>

                    <!-- /.box-footer -->
                    <div class="box-footer">
                        <button class="btn btn-primary no-display" id="submit_button">确认</button>
                        <button type="submit" class="btn btn-primary" id="save_submit" name="_save"
                                style="display: none">sure
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock section_content %}

{% block body_js %}
    {{ block.super }}

    <!-- DataTables -->
    {#    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>#}
    {#    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>#}


    <script>
        $(function () {

            $('#model_delete').click(function () {
                alert('您确定要删除吗？');
                $('#model_form').attr('action', '{% url 'backend_admin:model_object_delete' app_label model_name%}');
                $('#submit_button').click();
            });
            {#            $("#config_each_table").DataTable({#}
            {#                "columnDefs": [#}
            {#                    {"orderable": false, "targets": 0}#}
            {#                ],#}
            {#                "order": [[1, 'dec'],],#}
            {#                "language": {#}
            {#                    "emptyTable": "没有匹配的数据",#}
            {#                    "info": "_START_ to _END_ of _TOTAL_",#}
            {#                    "infoEmpty": "0 of _MAX_",#}
            {#                    "infoFiltered": "",#}
            {#                    "lengthMenu": "显示 _MENU_ 条",#}
            {#                    "search": "搜索:",#}
            {#                    "zeroRecords": "没有匹配的数据",#}
            {#                    "paginate": {#}
            {#                        "first": "首页",#}
            {#                        "last": "尾页",#}
            {#                        "next": "下一页",#}
            {#                        "previous": "上一页"#}
            {#                    },#}
            {#                }#}
            {#            });#}
            {#            $('.action-checkbox').css('width', '3px');#}
            {#            $('.action-checkbox').css('padding-right', '3px');#}
            {#        });#}


            // 删除时的选择
            $('input[name="th_checkbox"]').click(function () {
                var children_checkboxes = $(this).closest('#config_each_table').find('input[name="td_checkbox"]');
                if ($(this).prop('checked') == true) {
                    $(this).attr("checked", true);
                    children_checkboxes.each(function () {
                        $(this).prop("checked", "checked");
                    })
                } else {
                    $(this).attr("checked", false);
                    children_checkboxes.each(function () {
                        $(this).removeAttr('checked')
                    })
                }
            });

            $('input[name="td_checkbox"]').click(function () {
                var parent_checkbox = $(this).closest('#config_each_table').find('input[name="th_checkbox"]');
                var children_checkboxes = $(this).closest('#config_each_table').find('input[name="td_checkbox"]');
                var checked_num = 0;
                children_checkboxes.each(function () {
                    if ($(this).prop('checked') == true) {
                        checked_num += 1
                    }
                });
                if (checked_num == children_checkboxes.length) {
                    parent_checkbox.prop("checked", "checked");
                } else {
                    parent_checkbox.removeAttr('checked')
                }
            });
             });
    </script>
{% endblock body_js %}