<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flask ajax</title>
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script type="text/javascript" src="js/getComment.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $(function () {
            function submit_form2(e) {
                $.ajax({url: $SCRIPT_ROOT + '/getComment',
                        contentType: "application/json; charset=UTF-8",
                        dataType: 'json',
                        data:{
                            bugId: $('input[name="bugId"]').val(),
                            when: $('input[name="when"]').val(),
                            now: new Date().getTime()
                        },
                        error: function(xhr, err){ $('#result').text(err); },
                        success: function(data, textStatus){ $('#result').text(data.comment); }
                });
            };
            $('#get').hover('mouseenter', submit_form2);
        });
    </script>
</head>
<body>
<p>
    bug: <input type=text size=10 name=bugId placeholder="34" >
    time("2015-10-22 21:58:11"):<input type=text size=20 name=when placeholder="2015-10-22 21:58:11">
    <input type="button" id="get" value="hover">
    <br>
    <span id=result>?</span>
</p>
</body>
</html>  