<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bugzilly</title>
</head>
<body>
<div id="menu">
    <ul>
        <a href="dayReport" target="mainframe"><li>dayReport</li></a>
        <a href="statusChange" target="mainframe"><li>statusChange</li></a>
        <a href="charts" target="mainframe"><li>charts</li></a>
        <a href="ajax" target="mainframe"><li>ajax</li></a>
    </ul>
</div>
<div id="main"  style="height:1000px;width:1280px;float:left;">
    <iframe name="mainframe" style="height:1280px;width:1360px" frameborder="0" scrolling="no"></iframe>
</div>

</body>
</html>