<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bugs status change</title>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='highcharts.js')}}"></script>
    <script src="{{url_for('static', filename='exporting.js')}}"></script>
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("table").click(function () {
            var str = $(this).attr("id");
            var bugId = str.substr("tab_".length);
            var cnt = $("tr[id^=tr_c_" + bugId + "] > td").size() - 2;
            var reopen = 0;
            var times = 0;
            for (var i = 0; i < cnt; i++) {
                if ($("td[id^=td_c_" + bugId + "_" + i + "]").text().search("→REOPENED") > 0) {
                    reopen++;
                    fontcolor = "red";
                } else {
                    fontcolor = "black";
                }
                $("td[id^=td_m_" + bugId + "_" + i + "]").toggle("fast");
                $("td[id^=td_c_" + bugId + "_" + i + "]").toggle("normal");
                $("td[id^=td_c_" + bugId + "_" + i + "]").css("color",fontcolor);
                $("td[id^=td_t_" + bugId + "_" + i + "]").toggle("slow");
            }
            <!-- set last info allow show -->
            if ($("td[id^=td_c_" + bugId + "_" + cnt + "]").text().search("→CLOSED") > 0) {
                bgcolor = "Gray";
            } else {
                bgcolor = "red";
            }
            $("td[id^=td_c_" + bugId + "_" + cnt + "]").css("background-color",bgcolor);
            $("td[id^=td_c_" + bugId + "] > span").text(reopen);
            var end = new Date($("td[id^=td_t_" + bugId + "_" + cnt + "]").text());
            var start =  new Date($("td[id^=td_t_" + bugId + "_1]").text());
            times = (end - start)/(1000*3600*24);
            $("td[id^=td_t_" + bugId + "] > span").text(times);
        });
    });
    </script>
</head>
<body>
{% for change in changes %}
{% set bID = change.id %}
<div id="{{'div_' ~ bID}}" style="width:25%;margin-left:1px">
    <table id="{{'tab_' ~ bID }}" align="left"
           class="table table-striped table-condensed table-hover table-bordered"
           bgcolor="{{ loop.cycle('Gainsboro', 'GhostWhite') }}"
           style="text-align:center;margin:5px;">
        <tr id="{{'tr_m_' ~ bID}}">
            <td><span class="badge">{{bID}}</span></td>
            <td><b>member</b></td>
            {% for c in change['change'] %}
            <td id="{{'td_m_' ~ bID ~ '_' ~ loop.index}}">{{c.member}}</td>
            {% endfor %}
        </tr>
        <tr id="{{'tr_c_' ~ bID}}">
            <td id="{{'td_c_' ~ bID}}"><span class="badge" style="background: darksalmon"></span></td>
            <td><b>changeTo</b></td>
            {% for c in change['change'] %}
            <td id="{{'td_c_' ~ bID ~ '_' ~ loop.index}}" align="left">
                <li style="list-style-type:none;">
                    <em style="font-size: small">{{c.changeTo}}</em><br>
                    <a id="abstract" href="http://localhost" data-toggle="tooltip" data-placement="top"
                       title="{{c.comment}}" style="font-size: small">{{c.abstract}}</a>
                </li>
            </td>
            {% endfor %}
        </tr>
        <tr id="{{'tr_t_' ~ bID}}">
            <td id="{{'td_t_' ~ bID}}"><span class="badge" style="background: skyblue"></span></td>
            <td><b>time</b></td>
            {% for c in change['change'] %}
            <td id="{{'td_t_' ~ bID ~ '_' ~ loop.index}}">{{c.time}}</td>
            {% endfor %}
        </tr>
    </table>
</div>
{% endfor %}
</body>
</html>