{% extends 'base_backend.html' %}
{% load static %}

{% block header_tail %}
    <!-- page script -->
    <style>
        .float_left {
            float: left;
            margin-left: 20px;
            margin-top: 20px;
        }

        .float_right {
            float: right;
        }
    </style>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <!-- Main content -->
    <div id="hubPagelist" class="inverse">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success" style="margin-left:40px;margin-top:10px;width:95%;">
                    <div class="box-body">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#panel_hubPage" data-toggle="tab">列表页</a>
                                </li>
                                <li>
                                    <a href="#panel_white" data-toggle="tab">白名单</a>
                                </li>
                                <li>
                                    <a href="#panel_black" data-toggle="tab">标错</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="panel_hubPage">
                                    <div class="box-header with-border" style="border-color: #61b34d;">
                                        <form action="/allsite/hubPageList/" method="post">
                                            {% csrf_token %}
                                            <input id="search" name="search" class="pull-left" size="40px"
                                                   style="margin-top:10px;margin-left:20px;height:30px;"
                                                   value="{{ search }}">
                                            <button id="searchBtn" class="pull-left btn btn-sm btn-success"
                                                    style="margin-top:10px;margin-left:10px;" disabled="true">检索
                                            </button>
                                        </form>
                                    </div>
                                    <div class="box-body with-border">
                                        <table id="hubPageList_tab" style="table-layout:fixed"
                                               class="table table-striped table-hover table-condensed">
                                            <thead>
                                            <tr>
                                                <th style="width:40%">列表页
                                                    <span id="search_cnt" class="badge">计算中...</span>
                                                </th>
                                                <th style="width:10%">总采集量</th>
                                                <th style="width:10%">今日采集量</th>
                                                <th style="width:10%">今日采集<br>对应用户</th>
                                                <th style="width:30%">探测周期</th>
                                                <th style="width:20%"></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for info in result %}
                                                <tr>
                                                    <td style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"
                                                        title="{{ info.url }}">
                                                        <a href="{{ info.url }}" target="_blank">{{ info.url }}</a>
                                                    </td>
                                                    <td>{{ info.crawled_num }}</td>
                                                    <td title="直采对比详情页中未必有完全匹配结果">
                                                        <a href="/allsite/detailList/?hubPage={{ info.url }}"
                                                           target="_blank">{{ info.crawled_num_today }}</a>
                                                    </td>
                                                    <td>{{ info.user_num_today }}</td>
                                                    <td>{{ info.period_str }}</td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="pageDiv" class="box-footer with-border"
                                         style="border-color: #61b34d;height:60px">
                                        <ul class="pagination pagination-bg" style="margin-top:5px">
                                            <li>
                                                <a id="firstPage" href="#"> 首页</a>
                                            </li>
                                            <li>
                                                <a id="prevPage" href="#"> 上一页 </a>
                                            </li>
                                            <li class="disabled">
                                                <span>第 {{ page }} 页</span><span id="pageNum"> 共 ... 页</span>
                                            </li>
                                            <li>
                                                <a id="nextPage" href="#"> 下一页 </a>
                                            </li>
                                            <li>
                                                <a id="lastPage" href="#"> 末页 </a>
                                            </li>
                                            <li>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input id="gotoPageNum" type="text" placeholder="  跳转页"
                                                                   style="height:30px;width:60px">
                                                            <div class="input-group-addon">
                                                                <a id="gotoPage" href="javascript:gotoPage();">
                                                                    <i class="glyphicon glyphicon-play"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" id="panel_white">
                                    <div class="box-header with-border">
                                        <input class="pull-left" size="20px"
                                               style="margin-top:10px;margin-left:20px;height:30px;"
                                               placeholder="请输入URL">
                                        <button class="pull-left btn btn-sm btn-success"
                                                style="margin-top:10px;margin-left:10px;">检索
                                        </button>
                                    </div>
                                    <div class="box-body">
                                        <table id="hubPageList_tab_white"
                                               class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                            <tr>
                                                <th>列表页</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>http://lmjx.net</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.xbiao.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://liuxue86.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.xnmfw.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.hqbpc.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://hc360.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://shoes.net.cn</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.elong.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://jiancai.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://tom.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://gaokao.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.cheshi.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.ccoo.cn</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.cps.com.cn</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.66163.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.ljia.net</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.offcn.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.cebike.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://qingdaonews.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.chinabgao.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.qqyy.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.8684.cn</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.citscq.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.xsjk.net</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="panel_black">
                                    <div class="box-header with-border">
                                        <input class="pull-left" size="20px"
                                               style="margin-top:10px;margin-left:20px;height:30px;"
                                               placeholder="请输入URL">
                                        <button class="pull-left btn btn-sm btn-success"
                                                style="margin-top:10px;margin-left:10px;">检索
                                        </button>
                                    </div>
                                    <div class="box-body">
                                        <table id="hubPageList_tab_black"
                                               class="table table-striped table-bordered table-hover table-condensed">
                                            <thead>
                                            <tr>
                                                <th>列表页</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>http://lmjx.net</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.xbiao.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://liuxue86.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.xnmfw.com</td>
                                            </tr>
                                            <tr>
                                                <td>http://www.hqbpc.com</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-dialog -->
    <div class="modal fade" id="whiteBlackModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="box box-success">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">标定黑白</h3>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <label class="col-sm-2 control-label">URL</label>
                            <div id="url_div" class="col-sm-9">
                                <input type="text" id="url" class="form-control" value="" readonly="true">
                            </div>
                            <div id="url_msg" class="col-sm-1 has-success"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id='black' class="btn btn-primary">黑</button>
                        <button id='white' class="btn btn-primary">白</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock section_content %}

{% block jquery_js %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- InputMask -->
    <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
{% endblock jquery_js %}

{% block body_tail %}
    <script type="text/javascript" src="{% static 'backend/js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/allsite/js/allsite_util.js' %}"></script>
    <script type="text/javascript">
        function getHubPageSearchCnt() {
            $('#pageDiv').hide();

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            $.ajax({
                url: '/allsite/getHubPageSearchCntAPI/',
                type: 'POST',
                data: {
                    search: $("#search").val(),
                    page_num: 1
                },
                dataType: "json",
                error: function (xhr, err) {
                    alert("getHubPageSearchCnt:" + err);
                },
                success: function (data, textStatus) {
                    var searchCnt = data['search_cnt'];
                    window.sessionStorage.setItem('search_cnt', searchCnt);
                    window.sessionStorage.setItem("total_pages", data['total_pages']);

                    $('#search_cnt').text("共" + searchCnt + "条");

                    setPaginator(searchCnt, $('#search').val(), "", "", data['current_page'], data['total_pages']);

                    $("#searchBtn").removeAttr("disabled");
                }
            });
        }


        $(document).ready(function () {
{#            alert({{ csrf_token }});#}

            window.localStorage.setItem('csrf_token', '{{ csrf_token }}');

            $("#gotoPageNum").inputmask("99999", {showMaskOnFocus: false, showMaskOnHover: false, placeholder: ""});

            var search = $("#search").val();
            var currentPage = getQueryString("page");
            var totalPages = window.sessionStorage.getItem("total_pages");

            window.sessionStorage.setItem("search", search);

            if (currentPage != null) {
                //alert("direct");
                $('#search_cnt').text("共" + window.sessionStorage.getItem("search_cnt") + "条");
                setPaginator(window.sessionStorage.getItem("search_cnt"), search, "", "", currentPage, totalPages);
            }
            else {
                //alert("refresh");
                getHubPageSearchCnt();
            }

            $('#hubPageList_tab_white').DataTable({
                'dom': '<"float_left"f>r<"float_right"l>tip',
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src={% static 'backend/images/loading_roll.gif' %}/>",
                    "sSearch": "检索",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    }
                },
                "info": true,
                "aLengthMenu": [20],
                "bSort": false,
                "bLengthChange": false,
                "bFilter": false,
                "bProcessing": true
            });

            $('#hubPageList_tab_black').DataTable({
                'dom': '<"float_left"f>r<"float_right"l>tip',
                "oLanguage": {
                    "sLengthMenu": "每页 _MENU_ 条",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                    "sInfoEmpty": "共 0 条",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有数据 。。。",
                    "sProcessing": "<img src={% static 'backend/images/loading_roll.gif' %}/>",
                    "sSearch": "检索",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前页",
                        "sNext": "后页",
                        "sLast": "尾页"
                    }
                },
                "info": true,
                "aLengthMenu": [20],
                "bSort": false,
                "bLengthChange": false,
                "bFilter": false,
                "bProcessing": true
            });

            $('tr').mouseover(function () {
                if ($(this).parent().parent('#hubPageList_tab').text().length > 0) {
                    // 填充 modal-dialog
                    var url = $(this).children("td").first().text();
                    $('#url').val(url.replace(/(\s*)|(\s$)|[\r\n]/g, ""));

                    var opt = $(this).children("td").last();
                    if (opt.html().length == 0) {
                        opt.html('<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#whiteBlackModal">标定黑白</button>');
                    }
                }
            });

            $('tr').mouseleave(function () {
                if ($(this).parent().parent('#hubPageList_tab').text().length > 0) {
                    var opt = $(this).children("td").last();
                    if (opt.html().length != 0) {
                        opt.html('');
                    }
                }
            });

            $("#search").change(function () {
                $("#searchBtn").removeAttr("disabled");
            });
        });
    </script>
{% endblock body_tail %}