{#{% extends "main.html" %}#}
{% autoescape None %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <!-- jquery -->
    <script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <title>全站展示-列表页</title>
</head>

{% block body %}
<style type="text/css">
    option.imagebacked {
        padding: 2px 0 2px 20px;
        background-repeat: no-repeat;
        background-position: 1px 2px;
        vertical-align: middle;
    }
</style>
{% set url_pre = "http://www." %}

<div id="site_index_div" style="width:90%; margin-left:50px;margin-top:50px" class="col-sm-9">
    <table id="hubPages_tab" class="table">
        <thead>
        <tr>
            <th>列表页URL</th>
            <th>件数</th>
        </tr>
        </thead>
        <tbody>
        {% for hubPage in hubPages %}
        <tr style="border: 1px;">
            <td>
                <a href="{{ hubPage }}">{{ hubPage }}</a>
            </td>
            <td>

            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}


<script type="text/javascript">
    $(document).ready(function () {
        $('#hubPages_tab').DataTable({
            "oLanguage": {
                "sLengthMenu": "每页 _MENU_ 条",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                "sInfoEmpty": "共 0 条",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前页",
                    "sNext": "后页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有数据 。。。",
                "sProcessing": "<img src='/static/images/loading.gif'/>",
                "sSearch": "检索："
            },
            "oSearch": {"sSearch": "", "bRegex": true, "bSmart": true},
            "info": true,
            "searching": true,
            "processing": true,
            "search": {"regex": true},//开启正则支持
            {#"bStateSave": true, //状态保存,与正则检索矛盾#}
            "bFilter": true,
            "bLengthChange": true,
            "aLengthMenu": [20, 50, 100],
            "scrollY": "800px",
            "bScrollCollapse": true,
            "aaSorting": [[0, "desc"]]
        });
    });
</script>

</html>


