.sns_left {
    float: left;
    height: 50px;
    margin: 10px;
    /* background-color: #F5F5F5;*/
}

img.sns_author_logo {
    height: 60px;
    margin: 5px 5px 5px 0;
}

img.sns_author_logo_small {
    height: 30px;
    margin: 5px 5px 5px 0;
}

.sns_right {
    float: right;
    width: 560px;
    margin: 5px;
    /*min-height: 200px;border: 0px solid #555;background-color: #F5F5F5;*/
}

.sns_right .sns_author {
    margin: 10px;
    font-size: x-large;
}

.sns_right .sns_image_list {
    margin: 5px 20px 5px 0;
    width: 560px;
}

.sns_right .sns_image_list img.sns_image {
    height: 180px;
    margin: 5px 2px 5px 0;
    float: left;
    /*width: 180px;min-width: 200px;min-height: 200px;*/
}

.sns_right .sns_content {
    margin: 5px 10px 5px 0;
}

.sns_right .sns_timeLocation {
    margin: 5px 10px 5px 0;
}

.sns_right .sns_comments {
    margin: 5px 10px 5px 0;
    background-color: #F5F5F5;
}